<form method="get" action="" class="flex flex-wrap gap-4 items-end pb-12 w-full filters">
    {% if form.city %}
        <div class="form-control">
            <label class="label">
                <span class="font-bold label-text">{{ form.uf.label }}</span>
            </label>
            {{ form.uf }}
        </div>
    {% endif %}
    {% if form.city %}
        <div class="form-control">
            <label class="label">
                <span class="font-bold label-text">{{ form.city.label }}</span>
            </label>
            {{ form.city }}
        </div>
    {% endif %}
    {% if form.place %}
        <div class="form-control">
            <label class="label">
                <span class="font-bold label-text">{{ form.place.label }}</span>
            </label>
            {{ form.place }}
        </div>
    {% endif %}
    <input class="btn btn-primary" type="submit" value="Buscar" />
</form>