<!-- Button trigger modal -->
<div class="g-col-12 g-col-md-6 btn-card" data-bs-toggle="modal" data-bs-target="#teamModal{{instance.id}}">
  <div class="btn-card-img">
    <img src="{{ instance.picture.url }}" class="img-fluid" />
    {% include "nossas/graphics/group_30.svg" %}
  </div>
  <div class="btn-card-description">
    <h4>{{ instance.full_name }}</h4>
    <p>{{ instance.short_description }}</p>
  </div>
</div>
  
<!-- Modal -->
<div class="modal modal-lg fade" id="teamModal{{instance.id}}" tabindex="-1" aria-labelledby="teamModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-end">
        <button type="button" class="btn-close-circle" data-bs-dismiss="modal" aria-label="Fechar">
          {% include "nossas/graphics/group_30_90deg.svg" %}
        </button>
      </div>
      <div class="modal-body">
          <div class="modal-box-img">
            <img src="{{ instance.picture.url }}" class="img-fluid" />
          </div>
          <div class="modal-box-text text-black">
            <h4>{{ instance.full_name }}</h4>
            <h5>{{ instance.short_description }}</h5>
            <hr class="breakline" />
            <p>{{ instance.description }}</p>
          </div>
      </div>
    </div>
  </div>
</div>