{% extends "ga/base.html" %}
{% load static compress %}

{% block meta %}
<meta property="og:type" content="website" />
{% if request.current_site.seo.title %}
<meta property="og:title" content="{{ request.current_site.seo.title }}" />
{% endif %}
{% if request.current_site.seo.description %}
<meta name="description" content="{{ request.current_site.seo.description }}" />
<meta property="og:description" content="{{ request.current_site.seo.description }}" />
{% endif %}
{% if request.current_site.seo.image %}
{% with url_image=request.scheme|add:"://"|add:request.get_host|add:request.current_site.seo.image.url %}
<meta property="og:image" content="{{ url_image }}" />
{% endwith %}
{% endif %}
{% endblock meta %}

{% block favicon %}
{% if request.current_site.theme.favicon %}
<link rel="shortcut icon" href="{{ request.current_site.theme.favicon.url }}" type="image/x-icon">
{% else %}
<link rel="shortcut icon" href="{% static 'images/favicon-32.png' %}" type="image/x-icon">
{% endif %}
{% endblock %}

{% block head_css %}
{% compress css %}
<style type="text/x-scss">
    {% if request.current_site.theme.scss_json %}
    {{ request.current_site.theme.scss }}
    {% else %}
    $blue: #0d6efd !default;
    $indigo: #6610f2 !default;
    $purple: #6f42c1 !default;
    $pink: #d63384 !default;
    $red: #dc3545 !default;
    $orange: #fd7e14 !default;
    $yellow: #ffc107 !default;
    $green: #198754 !default;
    $teal: #20c997 !default;
    $cyan: #0dcaf0 !default;
    $black: #000 !default;
    $white: #fff !default;
    {% endif %}

    @import 'ds/css/theme.scss';
</style>
{% endcompress %}
{% endblock head_css %}
{% block head_js %}
{% comment %} TODO: Change to split modules bootstrap {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}

{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block footer_js %}
    <script src="{% static "counter/js/counter.js" %}" type="module"></script>
{% endblock %}
