<div id="inline-array" data-name="{{ widget.name }}">
    <ol>
    {% for subwidget in widget.subwidgets %}
        {% if subwidget.value or forloop.counter < 3 %}
        <li>
            <div class="d-flex mb-2">
                {% if widget.item_label %}{{widget.item_label}}{% endif %}
                <input
                    type="{{ subwidget.type }}"
                    name="{{ subwidget.name }}"
                    id="{{ subwidget.id }}"
                    {% if widget.value != None %} value="{{ subwidget.value|stringformat:'s' }}"{% endif %}
                    {% include "django/forms/widgets/attrs.html" with widget=subwidget %}
                />
                {% if not subwidget.attrs.disabled %}
                <button type="button" class="btn btn-outline-danger ml-2" onclick="inlineDelete(this)">
                    <i class="bi bi-trash"></i>
                </button>
                {% endif %}
            </div>
        </li>
        {% endif %}
    {% endfor %}
    </ol>
</div>
{% if not widget.attrs.disabled %}
<button type="button" id="inline-array-add" class="btn btn-primary mt-2" data-size="{{ widget.size }}">
    {% if widget.add_button_text %}{{ widget.add_button_text }}{% else %}Adicionar{% endif %}
</button>
{% endif %}
