{% load static sekizai_tags %}

<div class="timeline-events">
{% for event in events_world %}
  <div class="timeline-events-item">
    <span>{{ event.get_event_date}}</span>
    <h4>{{ event.title }}</h4>
    <p>{{ event.description}}</p>
  </div>
{% endfor %}
</div>

<div class="w-100 clearfix divider"></div>

<div class="timeline-events">
{% for event in events_nossas %}
  <div class="timeline-events-item">
    <span>{{ event.get_event_date }}</span>
    <h4>{{ event.title }}</h4>
    <p>{{ event.description}}</p>
  </div>
{% endfor %}
</div>
