legend.form-label {
    color: var(--bs-primary);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

.search-header {
    // d-flex flex-column flex-md-row align-items-md-center
    display: flex;
    flex-direction: column;
    gap: 0;

    .btn {
        display: flex;
        align-items: center;
        padding: 8px 10px;
    }

    @media (min-width: 768px) {
        align-items: center;
        flex-direction: row;
        gap: 1rem;
    }
}

.form-check-input:checked {
    background-color: var(--bs-primary);
}

.btn-check + .btn {
    padding: 8px 12px;
    font-size: 14px;

    &.btn-outline-dark {
        // background-color: var(--bs-gray-100);
        --bs-btn-active-bg: var(--bs-primary);
        --bs-btn-active-border-color: var(--bs-primary);
        --bs-btn-hover-color: var(--bs-primary);
        --bs-btn-hover-border-color: var(--bs-primary);
    }
}

.btn-check:not(:checked) + .btn {
    &.btn-outline-dark {
        &:hover {
            color: var(--bs-btn-hover-color);
            background-color: var(--bs-btn-bg);
            border-color: var(--bs-btn-hover-border-color);
        }
    }
}