django==3.2
django-environ
psycopg2-binary
# Django CMS
django-cms
djangocms-text-ckeditor
djangocms-picture
django-colorfield
# Authentication all platforms
# django-allauth
bcrypt
whitenoise
reactpy
reactpy-django
channels[daphne]