{% load wagtailcore_tags wagtailimages_tags %}

<div>
    <div class="container py-5">
        <div class="row" style="text-align: center;">
        {% if value.content and value.partners %}
            <div class="col-md-6">
                {{ value.title }}
                {{ value.content }}
            </div>
            <div class="col-md-6">
                {% for partner in value.partners %}
                    {% image partner.value.image max-300x150 format-webp-lossless class="mx-2 img-fluid" %}
                {% endfor %}
            </div>
        {% else %}
            <div class="col-md-4">{{ value.title }}</div>
            {% if value.content %}
            <div class="col-md-8">
                {{ value.content }}
            </div>
            {% endif %}

            {% if value.partners %}
            <div class="col-md-8">
                {% for partner in value.partners %}
                    {% image partner.value.image max-300x150 format-webp-lossless class="mx-2 img-fluid" %}
                {% endfor %}
            </div>
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>