// Campaign
.campaign-detail {
    .campaign-detail-header {
        position: relative;

        img {
            width: 100%;
            height: 500px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        @include media-breakpoint-down(md) {
            img {
                height: 280px;
            }
        }

        svg {
            position: absolute;
            bottom: -48px;
        }
    }

    .campaign-edit-image-header {
        position: relative;

        .drop-editable {
            display: none;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.5);
            align-items: center;
            justify-content: center;

            h4 {
                color: white;
            }
        }

        &:hover {
            .drop-editable {
                display: flex;
                position: absolute;
            }
        }
    }
}

.navigate-campaigns-plugin {
    .btn {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.filter-campaigns-plugin {
    .card {
        .card-body-content {
            .card-subtitle {
                font-family: Barlow;
                font-size: 14px;
                line-height: 22.5px;
                color: #6A6A6A;
                display: block;
                margin-bottom: 4px;
                display: flex;
                align-items: center;

                &::before {
                    content: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1014_1440)'%3E%3Cpath d='M7 14.5C7 14.5 12.25 9.5245 12.25 5.75C12.25 2.85051 9.8995 0.5 7 0.5C4.10051 0.5 1.75 2.85051 1.75 5.75C1.75 9.5245 7 14.5 7 14.5ZM7 8.375C5.55025 8.375 4.375 7.19975 4.375 5.75C4.375 4.30025 5.55025 3.125 7 3.125C8.44975 3.125 9.625 4.30025 9.625 5.75C9.625 7.19975 8.44975 8.375 7 8.375Z' fill='%236A6A6A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1014_1440'%3E%3Crect width='14' height='14' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                    display: inline-block;
                    padding-top: 4px;
                    padding-right: 6px;
                    margin-left: -2px;
                }
            }
        }
    }
}