// Campaign
.campaign-detail {
    .campaign-detail-header {
        position: relative;

        img {
            width: 100%;
            height: 500px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        @include media-breakpoint-down(md) {
            img {
                height: 280px;
            }
        }

        svg {
            position: absolute;
            bottom: -48px;
        }
    }

    .campaign-edit-image-header {
        position: relative;

        .drop-editable {
            display: none;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.5);
            align-items: center;
            justify-content: center;

            h4 {
                color: white;
            }
        }

        &:hover {
            .drop-editable {
                display: flex;
                position: absolute;
            }
        }
    }
}

.navigate-campaigns-plugin {
    .btn {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }
}