.breadcrumb .btn {
    font-weight: bold;
    text-transform: uppercase;
}

.breadcrumb-hub .btn {
    background: var(--bs-verde-nossas);
    color: var(--bs-azul-nossas);
}

.icon {
    path {
        fill: transparent;
    }
}

.icon-sm {
    width: 40px;
    height: 40px;
}

@each $state in map-keys($theme-colors) {
    .icon-#{$state} {
        path {
            fill: var(--#{$prefix}#{$state});
        }
    }
    .icon-bg-#{$state} {
        path.background,
        circle.background,
        rect.background {
            fill: var(--#{$prefix}#{$state});
        }
    }
    .icon-secondary-#{$state} {
        path.secondary {
            fill: var(--#{$prefix}#{$state});
        }
    }
}
