.navbar {
    .dropdown-menu {
        border-radius: 0;
    }

    .dropdown-toggle.show + .mega-menu {
        height: 160px;
        border-top: 1px dotted white;
    }

    .mega-menu {
        position: relative;
        width: 100%;

        .dropdown-menu.show {
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: absolute;
            top: 0;
            margin-left: 0;
        }

        .split-child {
            min-width: 200px;
        }
    }

    // Dropdown
    .navbar-toggler,
    .navbar-toggler:focus {
        border: none;
        box-shadow: none;
    }

    .child {
        font-size: 29px;
        font-weight: bold;
        line-height: 31px;

        .dropdown-toggle {
            display: flex;
            align-items: center;

            .dropdown-icon {
                margin-left: 5px;
                width: 24px;
                height: 24px;
                display: inline-block;
                background: $dropdown-icon;
            }

            &::after {
                display: none;
            }

            &.show {
                .dropdown-icon {
                    rotate: 180deg;
                }
            }
        }

        .dropdown-menu {
            a {
                font-size: $h5-font-size;
                // text-transform: none;
            }
        }
    }
}

.navbar-nav {
    text-transform: uppercase;
    font-family: $headings-font-family;
    font-size: $h4-font-size;

    a {
        color: $navbar-dark-color;
        text-decoration: none;
    }

    .dropdown-toggle {
        text-transform: uppercase;
        color: $navbar-dark-color;
    }

    .dropdown-menu {
        background: inherit;
        border: none;
        margin-left: $spacer;
    }
}
