.navbar {
    .dropdown-menu {
        border-radius: 0;
    }

    .dropdown-toggle.show + .mega-menu {
        border-top: 1px dotted var(--bs-mega-menu-border-color);
    }

    .dropdown-toggle.show svg {
        rotate: 180deg;
    }

    .mega-menu {
        position: relative;
        width: 100%;

        .dropdown-menu.show {
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: absolute;
            top: 15px;
            margin-left: 0;
        }

        .split-child {
            min-width: 220px;

            > .child {
                padding-bottom: 11px;
            }
        }
    }

    // Dropdown
    .navbar-toggler,
    .navbar-toggler:focus {
        border: none;
        box-shadow: none;
    }

    .child {
        font-size: 29px;
        font-weight: bold;
        line-height: 31px;

        .dropdown-toggle {
            display: flex;
            align-items: center;

            .dropdown-icon {
                margin-left: 5px;
                width: 24px;
                height: 24px;
                display: inline-block;
                background: $dropdown-icon;
            }

            &::after {
                display: none;
            }

            &.show {
                .dropdown-icon {
                    rotate: 180deg;
                }
            }
        }
    }
}

.navbar-nav {
    text-transform: uppercase;
    font-family: $headings-font-family;

    a {
        // color: $navbar-dark-color;
        text-decoration: none;
    }

    .dropdown-toggle {
        text-transform: uppercase;
        // color: $navbar-dark-color;
    }

    .dropdown-menu {
        background: inherit;
        border: none;
        margin-left: $spacer;
    }
}

.offcanvas-body {
    .navbar-nav {
        .child {
            padding: 0 0 22px;
            font-size: 42px;
        }

        .dropdown-menu {
            max-width: 200px;

            .child {
                padding: 0 0 12px;
                text-transform: none;
                
                a {
                    font-size: 28px;
                }
            }
        }
    }
}
