@import url("https://fonts.googleapis.com/css?family=Abel|Anton|Archivo+Narrow:400,400i,700,700i|Arvo:400,400i,700,700i|Asap:400,400i,700,700i|Baloo+Bhai|Bitter:400,400i,700|Bree+Serif|Capriola|Fugaz+One|Cabin:400,400i,700,700i|Catamaran:400,700|Crimson+Text:400,400i,700,700i|Cuprum:400,400i,700,700i|David+Libre:400,700|Dosis:400,700|Droid+Sans:400,700|Exo+2:400,400i,700,700i|Exo:400,400i,700,700i|Fira+Sans:400,400i,700,700i|Fjalla+One|Francois+One|Gidugu|Hind:400,700|Inconsolata:400,700|Indie+Flower|Josefin+Sans:400,400i,700,700i|Karla:400,400i,700,700i|Lalezar|Lato:400,400i,700,700i|Libre+Baskerville:400,400i,700|Lobster|Lora:400,400i,700,700i|Merriweather+Sans:400,400i,700,700i|Montserrat:400,700|Muli:400,400i|Noto+Serif:400,400i,700,700i|Nunito+Sans:400,700,800|Open+Sans+Condensed:300,300i,700|Open+Sans:400,400i,700,700i|Oswald:400,700|Oxygen:400,700|PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i|Pacifico|Playfair+Display:400,400i,700,700i|Poiret+One|Poppins:400,700|Quicksand:400,700|Raleway:400,400i,700,700i|Roboto+Condensed:400,400i,700,700i|Roboto+Mono:400,400i,700,700i|Roboto+Slab:400,700|Roboto:400,400i,700,700i|Ruslan+Display|Signika:400,700|Slabo+27px|Source+Sans+Pro:200,300,400,700|Titillium+Web:400,400i,700,700i|Ubuntu+Condensed|Ubuntu:400,400i,700,700i|Varela+Round|Yanone+Kaffeesatz:400,700|Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "bootstrap/scss/mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Habilitar grid
$enable-grid-classes: false;
$enable-cssgrid: true;

// Container
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 848px,
    //   lg: 960px,
    //   xl: 1140px,
    //   xxl: 1320px
);

// Card
$card-border-radius: none;
$card-border-color: $dark;
$card-border-width: 2px;

// Button
$btn-border-radius: 50px;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;
$btn-padding-x: 54px;
$btn-padding-x-sm: $btn-padding-x;
$btn-padding-x-lg: $btn-padding-x;
$btn-padding-y: $btn-padding-y-sm;
$btn-font-size: $btn-font-size-sm;

// Accordion
$accordion-bg: none;
$accordion-border-radius: none;
$accordion-inner-border-radius: $accordion-border-radius;
$accordion-border-width: 0;
$accordion-button-focus-box-shadow: none;
$accordion-button-active-bg: none;
$accordion-button-active-color: none;
$accordion-button-padding-y: ($spacer * 0.5);
$accordion-body-padding-y: 1rem;
$accordion-body-padding-x: 1.25rem;
$accordion-item-padding: 1.5rem 0;

// Font Family
$headings-font-family: "Bebas Neue Pro";
$font-family-sans-serif: "Barlow";
$input-btn-font-family: $headings-font-family;
$headings-font-weight: 800;

// Modal
$modal-sm: 375px;
$modal-content-border-radius: none;
$modal-content-inner-border-radius: $modal-content-border-radius;
$modal-inner-padding: 3rem;
$modal-header-padding-y: 1.5rem;
$modal-lg: 944px;

// Forms
$input-font-family: $font-family-sans-serif;
$input-font-size: $font-size-base;
$input-padding-y: $input-padding-y-sm;
$input-focus-border-color: $dark;
$input-focus-box-shadow: none;
$input-border-radius: $input-border-radius-sm;
$input-border-color: $dark;
$input-border-width: 2px;
$input-bg: transparent;
$input-focus-bg: transparent;

$input-group-addon-border-color: $dark;

$form-label-margin-bottom: 0.25rem;
$form-label-font-size: $font-size-base;

$form-select-focus-box-shadow: none;

// Dropdown
$dropdown-icon: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6 9L12 15L18 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");

// Navbar
$navbar-dark-color: $white;
// $navbar-dark-icon-color: $navbar-dark-color;
// $navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3 12H21' stroke='#{$navbar-dark-icon-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M3 6H21' stroke='#{$navbar-dark-icon-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M3 18H21' stroke='#{$navbar-dark-icon-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");

// Carousel / Slider
$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg width='41' height='12' viewBox='0 0 41 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M40 5.91895H2' stroke='#{$carousel-control-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M8 10.8379L1 5.91894L8 1' stroke='#{$carousel-control-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");

$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg width='41' height='12' viewBox='0 0 41 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 5.91894L39 5.91895' stroke='#{$carousel-control-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M33 1L40 5.91895L33 10.8379' stroke='#{$carousel-control-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");

@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";

// Card
.card {
    @include media-breakpoint-up(md) {
        &:nth-child(even) {
            border-right: 0;
            border-left: 0;
        }
    }

    @include media-breakpoint-down(md) {
        &:nth-child(even) {
            border-top: 0;
            border-bottom: 0;
        }
    }
}

@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// New Components

// Breakline
.breakline {
    border-top: 2px dotted #000;
    opacity: 100%;
    margin: 0.5rem 5px;
}

@each $state in map-keys($colors) {
    .breakline-#{$state} {
        border-color: var(--#{$prefix}#{$state});
    }
}

// Heading
.heading {
    margin-bottom: ($spacer * 1.5);

    @include media-breakpoint-down(md) {
        & {
            position: absolute;
            left: 0;

            + div {
                margin-top: 100px;
            }
        }
    }
}

// SVG
// scss-docs-start alert-modifiers
// Generate contextual modifier classes for colorizing the alert
@each $state in map-keys($colors) {
    .svg-bg-#{$state} {
        rect {
            fill: var(--#{$prefix}#{$state});
        }
    }
}

@each $state in map-keys($colors) {
    .svg-line-#{$state} {
        path {
            fill: var(--#{$prefix}#{$state});
        }
    }
}

// Imagem Mask
.img-mask {
    clip-path: polygon(0px 22%, 88% 5%, 93% 80%, 11% 82%);
}

// Button
.btn-circle {
    border-radius: 50%;
}

// Forms
.form-label {
    text-transform: uppercase;
    font-weight: bold;
}

[data-bs-theme="dark"] {
    .input-group {
        border: $input-border-width solid $white;
        border-radius: $input-border-radius;

        .form-control {
            border: none;
        }

        .input-group-text {
            background: transparent;
            border: none;
        }
    }

    .form-control {
        border-color: $white;
        color: $white;

        &::placeholder {
            color: $white;
        }
    }
}

// Tag
.tag {
    padding: 5px 12px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    font-family: 'Bebas Neue Pro';
}

// Carousel / Slider
.slider-footer {
    display: flex;
    justify-content: center;

    .slider-indicatiors.carousel-indicators {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
}

.slider-jobs-item {
    img {
        height: 230px;
    }

    .slider-jobs-item-content {
        position: relative;

        .tag {
            position: absolute;
            right: 20px;
            top: -20px;
        }
    }
}

#cms-top + .content {
    .full-page {
        --#{$prefix}-slider-full-height: calc(100vh - 47px);
    }
}

.full-page {
    --#{$prefix}-slider-full-height: 100vh;

    height: var(--#{$prefix}-slider-full-height);
    min-height: 350px;

    .navbar {
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .slider-full {
        .carousel-inner {
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .carousel-item {
            height: var(--#{$prefix}-slider-full-height);
            min-height: 350px;
        }

        .slider-footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    }
}

// Footer
.footer {
    border-top: 2px solid $dark;

    .footer-brand {
        display: block;
        width: 214px;
    }

    .social-media {
        display: flex;
        gap: 1rem;
    }

    .footer-btn-group {
        a {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

@include media-breakpoint-down(md) {
    .footer {
        .footer-brand {
            margin: 0 auto;
        }

        .social-media {
            justify-content: space-between;
            gap: 0;
            padding: 0 ($spacer * 2);
        }

        .footer-btn-group {
            > div {
                margin: 0 auto;
            }
        }
    }
}

// Button Group (Admin)
.widget-bg-btn-group {
    input[type="input"]:checked + label.widget-bg-btn,
    input[type="radio"]:checked + label.widget-bg-btn {
        outline: 2px solid green;
        scale: 0.9;
    }
}

.graphic-element-select {
    display: flex;
    gap: 10px;
    // align-items: center;

    .graphic-element-select-option {
        input[type="radio"]:checked + label {
            outline: 2px solid green;
            scale: 0.9;
        }

        label {
            display: flex;
            max-width: 50px;
            width: 50px;
            height: 50px;

            svg {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.multiple-svg-select {
    display: flex;

    .multiple-svg-select-option {
        input[type="checkbox"]:checked + label {
            outline: 4px solid green;
            scale: 0.9;
        }

        label {
            background-color: #888888;
            border-radius: 50px;
            display: flex;
            margin-right: 10px;
            padding: 24px !important;
        }
    }
}

// Social Share
.social-share {
    padding: 16px 0;

    h2 {
        text-align: center;
        text-transform: uppercase;
    }
    .social-share-icons {
        display: flex;
        justify-content: center;

        .social-share-link {
            padding: 16px;
        }
    }
    .social-share-button {
        display: flex;
        justify-content: center;
    }
}

// Accordion Team
.accordion-team {
    .accordion-header {
        position: relative;

        strong {

            margin-left: 1.5rem;
        }

        .accordion-button {
            padding: 30px 0 30px 72px;

            svg {
                position: absolute;
                left: 0;
            }
        }
    }

    .accordion-body {
        padding: 0;
    }

    // Modal Team
    .modal-lg {
        @include media-breakpoint-down(lg) {
            .modal-body {
                padding: 0;

                & > div:last-child {
                    padding: 1.75rem;
                }
            }
        }
    }

    .modal-header {
        border-bottom: none;
        padding: 0;
    }

    @include media-breakpoint-down(lg) {
        .modal-header {
            position: absolute;
            top: 0;
            z-index: 1;
            right: 0;
        }
    }

    .modal-box-img {
        background-color: var(--bs-rosa-nossas);
        height: 271px;
        position: relative;

        img {
            margin-left: 16px;
        }
    }

    @include media-breakpoint-down(lg) {
        .modal-box-img {
            margin-bottom: 2rem;
        }
    }

    .modal-box-text {
        h4 {
            font-size: 2rem;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        h5 {
            font-family: 'Oswald', sans-serif;
            font-size: 1.25rem;
            font-weight: 400;
            margin-bottom: 18px;
            text-transform: uppercase;
        }

        p {
            font-size: 1.25rem;
            line-height: 27.5px;
            margin-top: 18px;
        }
    }
}

// Footer
.footer {
    .institutional {
        font-size: 21px;
        line-height: 27.5px;
    }

    .nav-link {
        font-family: $headings-font-family;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 29px;
        line-height: 31px;
        padding-bottom: 10px;
    }

    .footer-line {
        font-size: 16px;
        text-align: center;
    }
}

// Headline
.headline {
    position: relative;
    height: 5rem;
}

.headline-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: -30px;
}

.headline h2 {
    margin: 0;
}

.headline img {
    margin-right: 1.5rem;
}

@include media-breakpoint-down(lg) {
    .headline-content {
        position: unset;
    }
}

.btn {
    font-weight: bold;
}

.container-fluid {
    max-width: 1175px;
}

// Forms
// input.form-control {
//     border-color: var(--bs-border-color);
// }

@import "design/scss/accordion";
@import "design/scss/box";
@import "design/scss/breadcrumb";
@import "design/scss/campaign";
@import "design/scss/card";
@import "design/scss/forms";
@import "design/scss/graphics";
@import "design/scss/header";
@import "design/scss/navbar";
@import "design/scss/paginator";
@import "design/scss/pdfviewer";
@import "design/scss/team";
@import "design/scss/video";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";
// scss-docs-end import-stack
