@import url("https://fonts.googleapis.com/css?family=Abel|Anton|Archivo+Narrow:400,400i,700,700i|Arvo:400,400i,700,700i|Asap:400,400i,700,700i|Baloo+Bhai|Bitter:400,400i,700|Bree+Serif|Capriola|Fugaz+One|Cabin:400,400i,700,700i|Catamaran:400,700|Crimson+Text:400,400i,700,700i|Cuprum:400,400i,700,700i|David+Libre:400,700|Dosis:400,700|Droid+Sans:400,700|Exo+2:400,400i,700,700i|Exo:400,400i,700,700i|Fira+Sans:400,400i,700,700i|Fjalla+One|Francois+One|Gidugu|Hind:400,700|Inconsolata:400,700|Indie+Flower|Josefin+Sans:400,400i,700,700i|Karla:400,400i,700,700i|Lalezar|Lato:400,400i,700,700i|Libre+Baskerville:400,400i,700|Lobster|Lora:400,400i,700,700i|Merriweather+Sans:400,400i,700,700i|Montserrat:400,700|Muli:400,400i|Noto+Serif:400,400i,700,700i|Nunito+Sans:400,700,800|Open+Sans+Condensed:300,300i,700|Open+Sans:400,400i,700,700i|Oswald:400,700|Oxygen:400,700|PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i|Pacifico|Playfair+Display:400,400i,700,700i|Poiret+One|Poppins:400,700|Quicksand:400,700|Raleway:400,400i,700,700i|Roboto+Condensed:400,400i,700,700i|Roboto+Mono:400,400i,700,700i|Roboto+Slab:400,700|Roboto:400,400i,700,700i|Ruslan+Display|Signika:400,700|Slabo+27px|Source+Sans+Pro:200,300,400,700|Titillium+Web:400,400i,700,700i|Ubuntu+Condensed|Ubuntu:400,400i,700,700i|Varela+Round|Yanone+Kaffeesatz:400,700|Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "bootstrap/scss/mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Habilitar grid
$enable-grid-classes: false;
$enable-cssgrid: true;

// Container
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 848px,
    //   lg: 960px,
    //   xl: 1140px,
    //   xxl: 1320px
);

// Card
$card-border-radius: none;
$card-border-color: $dark;
$card-border-width: 2px;

// Button
$btn-border-radius: 50px;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;
$btn-padding-x: 54px;
$btn-padding-x-sm: $btn-padding-x;
$btn-padding-x-lg: $btn-padding-x;
$btn-padding-y: $btn-padding-y-sm;
$btn-font-size: $btn-font-size-sm;

// Accordion
$accordion-bg: none;
$accordion-border-radius: none;
$accordion-inner-border-radius: $accordion-border-radius;
$accordion-border-width: 0;
$accordion-button-focus-box-shadow: none;
$accordion-button-active-bg: none;
$accordion-button-active-color: none;
$accordion-button-padding-y: ($spacer * 0.5);
$accordion-header-padding: 1.5rem 0;

// Font Family
$headings-font-family: "Bebas Neue Pro";
$font-family-sans-serif: "Barlow";
$input-btn-font-family: $headings-font-family;
$headings-font-weight: 800;

// Modal
$modal-sm: 375px;
$modal-content-border-radius: none;
$modal-content-inner-border-radius: $modal-content-border-radius;

// Forms
$input-font-family: $font-family-sans-serif;
$input-font-size: $font-size-base;
$input-padding-y: $input-padding-y-sm;
$input-focus-border-color: $dark;
$input-focus-box-shadow: none;
$input-border-radius: $input-border-radius-sm;
$input-border-color: $dark;
$input-border-width: 2px;
$input-bg: transparent;
$input-focus-bg: transparent;

$input-group-addon-border-color: $dark;

$form-label-margin-bottom: 0.25rem;
$form-label-font-size: $font-size-base;

$form-select-focus-box-shadow: none;

// Dropdown
$dropdown-icon: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6 9L12 15L18 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");

// Navbar
$navbar-dark-color: $white;
// $navbar-dark-icon-color: $navbar-dark-color;
// $navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3 12H21' stroke='#{$navbar-dark-icon-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M3 6H21' stroke='#{$navbar-dark-icon-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M3 18H21' stroke='#{$navbar-dark-icon-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");

// Carousel / Slider
$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg width='41' height='12' viewBox='0 0 41 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M40 5.91895H2' stroke='#{$carousel-control-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M8 10.8379L1 5.91894L8 1' stroke='#{$carousel-control-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");

$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg width='41' height='12' viewBox='0 0 41 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 5.91894L39 5.91895' stroke='#{$carousel-control-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M33 1L40 5.91895L33 10.8379' stroke='#{$carousel-control-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");

@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";

// Card
.card {
    @include media-breakpoint-up(md) {
        &:nth-child(even) {
            border-right: 0;
            border-left: 0;
        }
    }

    @include media-breakpoint-down(md) {
        &:nth-child(even) {
            border-top: 0;
            border-bottom: 0;
        }
    }
}

@import "bootstrap/scss/accordion";

// Accordion
// .accordion-item {
//     border-bottom: 1px dashed !important;

//     &:last-child {
//         border-bottom: 0 !important;
//     }
// }

.accordion-button {
    font-size: $h3-font-size;
}

@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// New Components

// Breakline
.breakline {
    border-top: 2px dotted #000;
    opacity: 100%;
    margin: 0.5rem 5px;
}

@each $state in map-keys($colors) {
    .breakline-#{$state} {
        border-color: var(--#{$prefix}#{$state});
    }
}

// Heading
.heading {
    margin-bottom: ($spacer * 1.5);

    @include media-breakpoint-down(md) {
        & {
            position: absolute;
            left: 0;

            + div {
                margin-top: 100px;
            }
        }
    }
}

// SVG
// scss-docs-start alert-modifiers
// Generate contextual modifier classes for colorizing the alert
@each $state in map-keys($colors) {
    .svg-bg-#{$state} {
        rect {
            fill: var(--#{$prefix}#{$state});
        }
    }
}

@each $state in map-keys($colors) {
    .svg-line-#{$state} {
        path {
            fill: var(--#{$prefix}#{$state});
        }
    }
}

// Imagem Mask
.img-mask {
    clip-path: polygon(0 22%, 93% 5%, 100% 94%, 11% 94%);
}

// Button Card
.btn-card {
    cursor: pointer;
    position: relative;

    img.img-mask {
        height: 164px;
        width: 164px;
    }

    svg {
        position: absolute;
        top: calc(164px - 35px);
        left: calc(164px - 25px);
    }

    .btn-card-description {
        margin-top: ($spacer * 1);
    }
}

// Button
.btn-circle {
    border-radius: 50%;
}

// Forms
.form-label {
    text-transform: uppercase;
    font-weight: bold;
}

[data-bs-theme="dark"] {
    .input-group {
        border: $input-border-width solid $white;
        border-radius: $input-border-radius;

        .form-control {
            border: none;
        }

        .input-group-text {
            background: transparent;
            border: none;
        }
    }

    .form-control {
        border-color: $white;
        color: $white;

        &::placeholder {
            color: $white;
        }
    }
}

// i18n
$height: 30;

.i18n-form {

    label {
        position: relative;
        display: inline-block;
        margin-left: $spacer * 2;
        
        &:before {
            content: "";
            height: ($height - 5) + px;
            position: absolute;
            right: 7px;
            top: 3px;
            width: 22px;

            //background: -webkit-linear-gradient(#fff, #f0f0f0);
            //background: -moz-linear-gradient(#fff, #f0f0f0);
            //background: linear-gradient(#f5f5f5, #e0e0e0);
            background: transparent; //for Firefox in Android

            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            pointer-events: none;
            display: block;
        }
        
        &:after {
            content: " ";
            position: absolute;
            right: 15px;
            top: 46%;
            margin-top: 2px;
            z-index: 2;
            pointer-events: none;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6.9px 4px 0 4px;
            border-color: var(--bs-dropdown-color) transparent transparent transparent;
            pointer-events: none;
        }
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0 30px 0 0;

            font-family: $headings-font-family;
            font-weight: bold;
            border-radius: 3px;
            line-height: $height + px;
            height: $height + px;
            //box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
            background: transparent;

            //min-width: 200px;
            margin: 10px 0 0 0;

            &:focus-visible {
                border: none;
                outline: none;
            }

            option {
                background: var(--bs-mega-menu-background);
            }
        }
    }
    //fix for ie 10 later
    select::-ms-expand {
        display: none;
    }
}

// Tag
.tag {
    padding: 6px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

// Carousel / Slider
.slider-footer {
    display: flex;
    justify-content: center;

    .slider-indicatiors.carousel-indicators {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
}

.slider-jobs-item {
    img {
        height: 230px;
    }

    .slider-jobs-item-content {
        position: relative;

        .tag {
            position: absolute;
            right: 20px;
            top: -20px;
        }
    }
}

#cms-top + .content {
    .full-page {
        --#{$prefix}-slider-full-height: calc(100vh - 47px);
    }
}

.full-page {
    --#{$prefix}-slider-full-height: 100vh;

    height: var(--#{$prefix}-slider-full-height);
    min-height: 350px;

    .navbar {
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .slider-full {
        .carousel-inner {
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .carousel-item {
            height: var(--#{$prefix}-slider-full-height);
            min-height: 350px;
        }

        .slider-footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    }
}

// Footer
.footer {
    border-top: 2px solid $dark;

    .footer-brand {
        display: block;
        width: 214px;
    }

    .social-media {
        display: flex;
        gap: 1rem;
    }

    .footer-btn-group {
        a {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

@include media-breakpoint-down(md) {
    .footer {
        .footer-brand {
            margin: 0 auto;
        }

        .social-media {
            justify-content: space-between;
            gap: 0;
            padding: 0 ($spacer * 2);
        }

        .footer-btn-group {
            > div {
                margin: 0 auto;
            }
        }
    }
}

// Button Group (Admin)
.widget-bg-btn-group {
    input[type="radio"]:checked + label.widget-bg-btn {
        outline: 2px solid green;
        scale: 0.9;
    }
}

.graphic-element-select {
    display: flex;
    gap: 10px;
    align-items: center;

    .graphic-element-select-option {
        input[type="radio"]:checked + label {
            outline: 2px solid green;
            scale: 0.9;
        }

        label {
            display: flex;
            max-width: 50px;
            width: 50px;
            height: 50px;
        }
    }
}

// Accordion Team
.accordion-team {
    .accordion-header {
        position: relative;

        strong {
            margin-left: 1.5rem;
        }

        .accordion-button {
            padding: 30px 20px 30px 72px;

            svg {
                position: absolute;
                left: 0;
            }
        }
    }

    // Modal
    // <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="20" fill="#F6B7C1"/><path d="M26 14L14 26" stroke="#233D90" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M14 14L26 26" stroke="#233D90" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

    .modal-sm {
        .modal-header {
            min-height: 230px;

            img {
                left: 25px;
            }
            .btn-close-circle {
                margin-left: ($modal-sm - 85px);
                margin-top: -95px;
                opacity: 100;
                z-index: 2;
                border-radius: 50px;
            }
        }

        .modal-body {
            padding-top: ($spacer * 1.75);
        }
    }

    .modal-header {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-bottom: none;

        img {
            height: 250px;
            max-width: 290px;
            position: absolute;
            top: 15px;
            z-index: 1;
        }
    }
}

.footer {
    .institutional {
        font-size: 21px;
        line-height: 27.5px;
    }

    .nav-link {
        font-family: $headings-font-family;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 29px;
        line-height: 31px;
        padding-bottom: 10px;
    }

    .footer-line {
        font-size: 16px;
        text-align: center;
    }
}

// Headline
.headline {
    position: relative;
    height: 5rem;
}

.headline-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: -30px;
}

.headline h2 {
    margin: 0;
}

.headline img {
    margin-right: 1.5rem;
}

@include media-breakpoint-down(lg) {
    .headline-content {
        position: unset;
    }
}

.btn {
    font-weight: bold;
}

.container-fluid {
    max-width: 1175px;
}

@import "design/scss/box";
@import "design/scss/campaign";
@import "design/scss/card";
@import "design/scss/graphics";
@import "design/scss/header";
@import "design/scss/navbar";
@import "design/scss/paginator";
@import "design/scss/pdfviewer.scss";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";
// scss-docs-end import-stack
