figure {
    margin: 0;
}

.cms-toolbar-left {
    display: flex;

    .header-logo, .header-logo:hover {
        margin-left: 20px;
        margin-top: 2px;
    }
}

.cms-toolbar-item-buttons {
    .cms-icon {
        margin-top: 5px;
    }
}

.accordion-collapse.collapse {
    visibility: visible;
}

.navbar-collapse.show {
    visibility: visible;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}