<section class="container grid">
    <div class="d-flex align-items-center g-col-12 g-col-lg-8" style="padding: 115px 0;">
        <div class="d-flex flex-column align-items-md-start gap-3">
            {% block main %}
            <i class="ds-icon-warning"></i>
            <h3 class="text-uppercase fw-bold m-0">Página não <br/> encontrada</h3>
            <p class="pb-1">Não conseguimos encontrar esta página. Confira se o link está correto. Se o erro persistir, entre em contato com a gente em  <a href="mailto:suporte@bonde.org" target="_blank" rel="noopener noreferrer">suporte@bonde.org</a></p>
            <button class="btn btn-secondary text-uppercase" type="button" onclick="window.location.href='/'">Voltar ao início</button>
            {% endblock %}
        </div>
    </div>
</section>
