{% extends "candidature/wizard_base.html" %}
{% load i18n crispy_forms_filters %}

{% block main %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ wizard.form.media }}
  {{ wizard.management_form }}
  <div class="d-flex">
    <div class="w-50">
      <h2>Selecione</h2>
      <div id="selectzone">
      {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
        {{ form|crispy }}
        {% endfor %}
      {% else %}
        {{ wizard.form|crispy }}
      {% endif %}
      </div>
    </div>
    <div class="w-50">
      <h2>Propostas selecionadas</h2>
      <div id="dropzone"></div>
    </div>
  </div>

  {% if wizard.steps.prev %}
  <button class="btn btn-secondary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate "prev step" %}</button>
  {% endif %}
  {% if wizard.steps.next %}
  <input class="btn btn-secondary" name="wizard_goto_step" type="submit" value="{% translate "Continuar: " %}{{ next_step_title }}" />
  {% endif %}
</form>
{% endblock %}

{% block screenside %}{% endblock %}