{% extends "votepeloclima/base.html" %}
{% load static crispy_forms_filters %}

{% block content %}
<form method="get">
    <h1 class="text-uppercase text-primary">Conheça candidaturas da sua cidade</h1>
    <span class="badge bg-secondary">Praesent sit amet turpis vel lacus volutpat scelerisque. Vivamus dapibus, nisi at feugiat tempor, erat lorem lacinia nulla, at consequat massa dolor id odio.</span>

    <section class="container">
        <div class="grid py-5 d-flex align-items-center">
                {% crispy form_top %}
                <button type="submit">Buscar</button>
        </div>
    </section>
    
    <section class="container"> 
        <div class="grid py-5">
            <div class="g-col-12 g-col-md-4">
                <aside class="sidebar">
                        {% crispy form_side %}
                        <button type="submit">Buscar</button>
                </aside>
            </div>
            <div class="g-col-12 g-col-md-8">
                {% for candidature in candidatures %}
                    <p>{{ candidature.legal_name }} - {{ candidature.intended_position }} - {{ candidature.political_party }}</p>
                    <p>{{ candidature.short_description }}</p>
                    {% if candidature.is_collective_mandate %}
                        <p><strong>Candidatura Coletiva</strong></p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</form>
{% endblock %}

{% block footer_js %}
<script>
    // Método que carrega as cidades de acordo com o estado selecionado
    document.getElementById('id_state').addEventListener('change', function() {
        const stateValue = this.value;
        const citySelect = document.getElementById('id_city');
        
        if (stateValue) {
            citySelect.disabled = false;
            fetch(`/api/candidatura/buscar-endereco/?state=${stateValue}`)
                .then(response => response.json())
                .then(data => {
                    citySelect.innerHTML = '<option value="">Selecione uma cidade</option>';
                    data.forEach(city => {
                        const option = document.createElement('option');
                        option.value = city.code;
                        option.textContent = city.name;
                        citySelect.appendChild(option);
                    });
                });
        } else {
            citySelect.disabled = true;
            citySelect.innerHTML = '<option value="">Selecione uma cidade</option>';
        }
    });
</script>
{% endblock %}
