{% extends "votepeloclima/base.html" %}
{% load static crispy_forms_filters compress %}

{% block head_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
{% compress css %}
<style type="text/x-scss">
@import "scss/candidaturesearch.scss";
</style>
{% endcompress %}
{% endblock %}

{% block content %}
<form method="get">
<main class="container px-5">
    <section class="w-75 py-5">
        <h1 class="text-uppercase fw-bold">Conheça candidaturas da sua cidade</h1>
        <p>Use os filtros para descobrir candidatos comprometidos com políticas climáticas!</span>
    </section>
    <div class="grid">
        <!-- Navbar -->
        <div class="g-col-12">
            <div class="search-header">
                {% crispy form.header %}
                <button class="btn btn-primary" type="submit"><i class="ds-icon-search"></i></button>
            </div>
        </div>
        <!-- Sidebar -->
        <div class="g-col-12 g-col-md-3">
            <aside class="search-sidebar">
                <h6 class="text-uppercase">Filtrar resultados</h6>
                {% crispy form.sidebar %}
            </aside>
        </div>
        <!-- Listagem -->
        <div class="g-col-12 g-col-md-9">
            <div class="grid gap-4">
                {% for candidature in candidatures %}
                <div class="g-col-12 g-col-md-4">
                    <a class="card" href="{% url 'candidate_profile' candidature.slug %}">
                        <img src="{{ candidature.photo.url }}" class="card-img-top" alt="Foto de {{ candidature.legal_name }}">
                        <div class="card-body px-2 py-1">
                            <p class="mb-1 fs-6 text-black-50">{{ candidature.get_state_display }} - {{ candidature.get_city_display }}</p>
                            <div class="card-title">
                                <h5 class="fw-bold">{{ candidature.legal_name }}</h5>
                            </div>
                            <hr style="width: 24px;" class="my-2" />
                            <div>
                                <h6 class="fs-6">{{ candidature.get_intended_position_display }} | {{ candidature.get_political_party_display }} | {{ candidature.number_id }}</h6>
                                <p class="text-muted form-text">
                                    {{ candidature.get_proposes_display|join:" / "|escape }}
                                </p>
                                {% if candidature.is_collective_mandate %}
                                <strong class="fs-6">Candidatura Coletiva</strong>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-dark text-uppercase">Conheça</button>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer_js %}
<script>
    // Método que carrega as cidades de acordo com o estado selecionado
    document.getElementById('id_state').addEventListener('change', function() {
        const stateValue = this.value;
        const citySelect = document.getElementById('id_city');
        
        if (stateValue) {
            citySelect.disabled = false;
            fetch(`/api/candidatura/buscar-endereco/?state=${stateValue}`)
                .then(response => response.json())
                .then(data => {
                    citySelect.innerHTML = '<option value="">Selecione uma cidade</option>';
                    data.forEach(city => {
                        const option = document.createElement('option');
                        option.value = city.code;
                        option.textContent = city.name;
                        citySelect.appendChild(option);
                    });
                });
        } else {
            citySelect.disabled = true;
            citySelect.innerHTML = '<option value="">Selecione uma cidade</option>';
        }
    });
</script>
{% endblock %}
