{% extends "votepeloclima/base.html" %}
{% load static crispy_forms_filters social_media_tags %}

{% block head_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/icons.css' %}">
{% endblock %}

{% block content %}
<section class="container">
    <div class="grid py-3">
        <div class="g-col-12 g-col-md-4">
            {% if candidature.photo %}
                <img src="{{ candidature.photo.url }}" alt="Foto de {{ candidature.ballot_name }}" class="img-fluid rounded-2"/>
            {% endif %}
        </div>
        <div class="g-col-12 g-col-md-8">
            <div>
                <div class="d-flex justify-content-between mb-2">
                    <p class="text-opacity-75 m-0">{{ candidature.get_city_display }} - {{ candidature.get_state_display }}</p>
                    <div class="d-flex gap-1">
                        {% for social in candidature.social_media %}
                            {% render_social_media social %}
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <h1 class="text-uppercase fw-bold">{{ candidature.ballot_name }} | {{ candidature.number_id }}</h1>
                    {% if candidature.deputy_mayor %}
                        <p><strong>Vice:</strong>  {{ candidature.deputy_mayor }}</p>
                    {% endif %}
                    <span class="badge bg-primary">{{ candidature.get_intended_position_display }}</span>
                    <span class="badge bg-primary">{{ candidature.get_political_party_display }}</span>
                    {% if candidature.primary %}
                        <span class="badge rounded-pill bg-primary">Mandato Coletivo</span>
                    {% endif %}
                </div>
            </div>
            <div class="pt-3">
                <p>{{ candidature.short_description }}</p>
            </div>
            <hr class="hr my-4"/>
            <div>
                <h3 class="text-uppercase pb-2">Informações</h2>
                <div class="d-flex flex-wrap">
                    <div class="col flex-grow-1">
                        <p><strong>Data de Nascimento:</strong> {{ candidature.birth_date }}</p>
                        <p><strong>Raça:</strong> {{ candidature.get_color_display }}</p>
                        <p><strong>Gênero:</strong> {{ candidature.get_gender_display }}</p>
                    </div>
                    <div class="col">
                        {% if candidature.sexuality %}<p><strong>Sexualidade:</strong> {{ candidature.get_sexuality_display }}</p>{% endif %}
                        {% if candidature.education %}<p><strong>Escolaridade:</strong> {{ candidature.get_education_display }}</p>{% endif %}
                        {% if candidature.employment %}<p><strong>Ocupação:</strong> {{ candidature.employment }}</p>{% endif %}
                    </div>
                </div>
            </div>
            <hr class="hr my-4"/>
            <div>
                <div>
                    <h3 class="text-uppercase">Propostas</h2>
                    <p class="text-muted">Propostas de {{ candidature.ballot_name }}.</p>
                </div>
                <div>
                    {% for item in proposes %}
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="text-primary fw-bold">{{ item.label }}</h5>
                                <p class="m-0">{{ item.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if candidature.milestones %}
            <hr class="hr my-4"/>
            <div>
                <div>
                <h3 class="text-uppercase">Histórico de atuação</h2>
                <p class="text-muted">Momentos e realizações marcantes de {{ candidature.ballot_name }}</p>
                </div>
                <div>
                    {% for milestone in candidature.milestones %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <p class="m-0">{{ milestone }}</p>
                        </div>
                      </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% if candidature.video %}
<section class="py-5 bg-primary">
    <div class="container">
        <h1 class="text-center text-white text-uppercase fw-bold">O que {{ candidature.ballot_name }} tem a dizer</h1>
        <div class="d-flex justify-content-center py-5">
            <video controls src="{{ candidature.video.url }}" class="img-fluid"></video>
        </div>
    </div>
</section>
{% endif %}
<section class="py-5">
    <div class="container">
        <h2 class="text-center text-uppercase fw-bold">O que esperar de {{ candidature.ballot_name }}</h2>
        <div id="carouselControls" class="carousel slide carousel-dark py-4" data-bs-ride="carousel">
            <!-- Indicadores de Slides -->
            <div class="carousel-indicators"></div>
            
            <!-- Itens do Carousel -->
            <div class="carousel-inner">
            </div>
          
            <!-- Controles do Carousel -->
            <button class="carousel-control-prev w-auto" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next w-auto" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Próximo</span>
            </button>
          </div>
          

        <p class="text-center">*As organizações da plataforma não se comprometem com a efetividade e execução dos compromissos firmados. O controle social e a participação ativa da cidadania são fundamentais para que parlamentares e gestores públicos cumpram suas promessas.</p>
    </div>
</section>
<hr class="w-100" />
<section class="py-5">
    <div class="container">
        <div class="grid">
            <div class="g-col-12 g-col-md-8">
                <div class="d-flex flex-column justify-content-between h-100">
                    <div>
                        <h2 class="fw-bold text-uppercase mb-3">Compartilhe nas redes sociais 
                            para apoiar {{ candidature.ballot_name }}!</h2>
                        <p class="w-75">Compartilhe esse perfil nas redes sociais e com seus amigos para que as propostas de {{ candidature.ballot_name }} cheguem em mais gente:</p>
                    </div>
                    <p>
                        Viu algo estranho? <a href="mailto:denunciavotepeloclima@nossas.org" target="_blank" rel="noopener noreferrer">Clique aqui para denunciar esse perfil.</a>
                    </p>
                </div>
            </div>
            <div class="g-col-12 g-col-md-4">
                <p class="fw-bold text-uppercase">Compartilhe em:</p>
                <div class="d-flex flex-column justify-content-center gap-2">
                    <a class="btn btn-primary text-uppercase d-inline-flex justify-content-center align-items-center gap-1" href="https://wa.me/?text=Confira a candidatura de {{ request.build_absolute_uri|urlencode }}">
                        <span class="ds-icon-whatsapp"></span>
                        WhatsApp
                    </a>
                    <a class="btn btn-primary text-uppercase d-inline-flex justify-content-center align-items-center gap-1" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri|urlencode }}&text=Confira a candidatura de {{ candidature.ballot_name }}" target="_blank">
                        <span class="ds-icon-x"></span>
                        Twitter
                    </a>
                    <a class="btn btn-primary text-uppercase d-inline-flex justify-content-center align-items-center gap-1" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri|urlencode }}&title=Confira a candidatura de {{ candidature.ballot_name }}" target="_blank">
                        <span class="ds-icon-linkedin"></span>
                        LinkedIn
                    </a>
                    <a class="btn btn-primary text-uppercase d-inline-flex justify-content-center align-items-center gap-1" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}" target="_blank">
                        <span class="ds-icon-facebook"></span>
                        Facebook
                    </a>
                    <button type="button" id="copyButton" onclick="copyURL()" class="btn btn-primary text-uppercase d-inline-flex justify-content-center align-items-center gap-1" data-bs-toggle="tooltip" data-bs-trigger="click" data-bs-placement="bottom" title="Copiado!">
                        <span class="ds-icon-anchor"></span>
                        Copiar Link
                    </button>
                </div>
            </div>
        </div>
</section>
{% endblock %}

{% block footer_js %}
<script src="{% static '/js/copy-to-clipboard.js' %}" type="text/javascript"></script>
<script src="{% static '/js/carousel-icons.js' %}" type="text/javascript"></script>
{% endblock %}
