{% extends "candidature/wizard_form.html" %}
{% load crispy_forms_tags %}

{% block before_form %}
<div class="mb-5">
    <h1 class="text-uppercase">Vamos <strong>começar?</strong></h1>
    <p class="sub-3 fw-bold text-uppercase">Inscreva-se e aumente a visibilidade da sua candidatura!</h2>
    <p>O processo de cadastro é simples e leva cerca de <strong>15 minutos</strong>. Você precisará aceitar alguns <strong>compromissos básicos</strong>, preencher suas <strong>informações pessoais</strong>, fornecer <strong>detalhes sobre sua candidatura e trajetória</strong>, e incluir suas <strong>propostas no contexto climático</strong>.</p>
    <p>Após finalizar, você terá acesso a uma área exclusiva onde poderá ver e editar seu perfil, além de acessar ferramentas para compartilhar sua campanha. Vamos lá?</p>
</div>
{% endblock %}

{% block form_fields %}{% endblock %}

{% block form_actions %}
<div class="d-flex flex-column flex-lg-row align-items-end justify-content-between">
    <div class="">
        {% crispy wizard.form %}
    </div>
    <div class="">
        {% if wizard.steps.next %}
        <input class="btn btn-secondary mb-3" name="wizard_goto_step" type="submit" value="Iniciar cadastro" />
        {% endif %}
    </div>
</div>
{% endblock %}