{% extends "candidature/wizard_base.html" %}
{% load i18n crispy_forms_tags %}

{% block main %}
<div class="mt-3">
    <h1>Para finalizar, confirme suas informações</h1>
    <p>Revise todas as informações fornecidas. Após finalizar, você terá acesso a uma área restrita onde poderá visualizar e editar suas informações. Certifique-se de que todos os dados estão corretos para evitar solicitações de edição desnecessárias.</p>
    <div class="mt-3">
    {% for step in checkout_steps %}
    {% if step.name == 'checkout' %}
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ wizard.form.media }}
            {{ wizard.management_form }}
            <div class="d-flex align-items-end justify-content-end">
                <div class="me-3" style="max-width: 620px;">
                    {{ wizard.form|crispy }}
                </div>
                <button class="btn btn-dark mb-3" style="min-width: 320px;" type="submit" name="submit">Concluir Cadastro</button>
            </div>
        </form>
    {% else %}
        <div class="border rounded p-2 mb-3">
            <div class="d-flex justify-content-between align-items-start">
                <h2>{{ step.title }}</h2>
                {% if step.edit_url %}
                <a class="btn btn-outline-dark" href="{{ step.edit_url }}">Editar</a>
                {% endif %}
            </div>
            {% if step.form.helper %}
                {% crispy step.form step.form.helper %}
            {% else %}
                {{ step.form|crispy }}
            {% endif %}
        </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block screenside %}{% endblock %}