{% extends "candidature/wizard_base.html" %}
{% load i18n crispy_forms_filters %}

{% block main %}
{% for step in checkout_steps %}
{% if step.name == 'checkout' %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ wizard.form.media }}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form|crispy }}
            {% endfor %}
        {% else %}
            {{ wizard.form|crispy }}
        {% endif %}
        <button class="btn btn-dark" type="submit" name="submit">Concluir Cadastro</button>
    </form>
{% else %}
<div>
    <a href="{{ step.edit_url }}">Editar</a>
    {{ step.form|crispy }}
</div>
{% endif %}
{% endfor %}
{% endblock %}

{% block screenside %}{% endblock %}