{% extends "votepeloclima/base.html" %}

{% block content %}
<div class="d-flex">
  {% block screenside %}
  <div class="bg-light" style="height:100vh;width:541px;">
  </div>
  {% endblock %}
  <div class="candidate-signup container py-5">
    <i class="ds-icon-submitted"></i>
    <div class="mb-4 mt-2">
      <h1 class="text-uppercase">Agora é <strong>só aguardar!</strong></h1>
      <p class="fw-bold">Estamos verificando suas informações e, em breve, você receberá um e-mail com a confirmação do seu perfil.</p>
      <p>Enquanto isso, você pode acessar a área da candidatura para acompanhar o status ou fazer ajustes, se necessário.</p>
    </div>
    <span class="badge text-bg-secondary">Prazo previsto: Até 24h</span>
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}