{% extends "votepeloclima/base.html" %}

{% block content %}
<div class="d-flex">
  {% block screenside %}
  <div class="bg-light" style="height:100vh;width:541px;">
  </div>
  {% endblock %}
  <div class="container px-5 py-5">
    <i class="ds-icon-submitted"></i>
    <div class="mb-4 mt-2">
      <h1 class="text-uppercase">Agora é <strong>só aguardar!</strong></h1>
      <p class="fw-bold">Estamos verificando suas informações e logo você receberá um e-mail com a confirmação do cadastro e instruções para criar sua senha.</p>
      <p>Você terá acesso limitado à área restrita enquanto verificamos suas informações. Fique de olho no seu e-mail para a confirmação e as instruções para criar sua senha. Na área restrita, você poderá acompanhar o status do seu cadastro e atualizar suas informações, se necessário.</p>
    </div>
    <span class="badge text-bg-secondary">Prazo previsto: Até 24h</span>
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}