{% extends "votepeloclima/base.html" %}

{% block content %}
<div class="d-flex">
  <div class="container px-5 py-4">
    {% widthratio wizard.steps.step1 wizard.steps.count 100 as progress %}
    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width:{{ progress }}%"></div>
    </div>
    {% block main %}{% endblock %}
  </div>
  {% block screenside %}
  <div class="bg-light" style="height:100vh;width:40%;">
  </div>
  {% endblock %}
</div>
{% endblock %}

{% block footer %}{% endblock %}