{% extends "candidature/wizard_base.html" %}
{% load i18n crispy_forms_tags %}

{% block main %}
<div class="mt-3">
  {% block before_form %}
  <div class="mb-3">
    <h2 class="fw-bold text-uppercase">{{ step_title }}</h2>
    <p>{{ step_description }}</p>
  </div>
  {% endblock %}
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ wizard.management_form }}

    {% block form_fields %}
    {% if wizard.form.helper %}
      {% crispy wizard.form wizard.form.helper %}
    {% else %}
      {{ wizard.form|crispy }}
    {% endif %}
    {% endblock %}
    
    {% block form_actions %}
    <div class="d-flex flex-column flex-lg-row justify-content-between mt-5" style="--bs-gap: 1rem;">
    {% if wizard.steps.prev %}
    <button class="btn btn-outline-dark" name="wizard_goto_step" type="submit" value="{% if editing %}checkout{% else %}{{ wizard.steps.prev }}{% endif %}">Voltar</button>
    {% endif %}
    {% if wizard.steps.next and not editing %}
    <input class="btn btn-secondary" name="wizard_goto_step" type="submit" value="{% translate "Continuar " %}" />
    {% elif editing %}
    <button class="btn btn-secondary" type="submit" name="wizard_goto_last">Salvar</button>
    {% endif %}
    </div>
    {% endblock %}

    {{ wizard.form.media }}
  </form>
  {% block after_form %}{% endblock %}
</div>
{% endblock %}
