<div class="mb-4">
  <p>{{ icon_name|capfirst }}</p>
  <div class="flex gap-2">
    {% include "design/icones/"|add:icon_name|add:".svg" with classnames="icon icon-sm icon-azul-nossas" %}
    {% include "design/icones/"|add:icon_name|add:".svg" with classnames="icon icon-sm icon-amarelo-nossas" %}
    {% include "design/icones/"|add:icon_name|add:".svg" with classnames="icon icon-sm icon-rosa-nossas" %}
    {% include "design/icones/"|add:icon_name|add:".svg" with classnames="icon icon-sm icon-laranja-nossas" %}
    {% include "design/icones/"|add:icon_name|add:".svg" with classnames="icon icon-sm icon-verde-claro-nossas" %}
    {% include "design/icones/"|add:icon_name|add:".svg" with classnames="icon icon-sm icon-bege-nossas" %}
    {% include "design/icones/"|add:icon_name|add:".svg" with classnames="icon icon-sm icon-verde-nossas" %}
    {% include "design/icones/"|add:icon_name|add:".svg" with classnames="icon icon-sm icon-vermelho-nossas" %}
    {% include "design/icones/"|add:icon_name|add:".svg" with classnames="icon icon-sm icon-preto-nossas" %}
  </div>
</div>