{% extends "nossas/base.html" %}
{% load cms_tags menu_tags %}

{% block content %}
  <main class="container-fluid" style="background:rgba(0,0,0,.1);">
    <section class="my-3">
      <h3 class="h3">Gráficos Padronizados</h3>
      <hr class="breakline" />
      <div class="grid gap-4 flex-wrap">
        <div class="grid-col-6">
          {% include 'section-icons.html' with icon_name="questionador" %}
          {% include 'section-icons.html' with icon_name="hub" %}
          {% include 'section-icons.html' with icon_name="ativista" %}
          {% include 'section-icons.html' with icon_name="impulsionador" %}
        </div>
        <div class="grid-col-6">
          {% include 'section-icons.html' with icon_name="coletivo" %}
          {% include 'section-icons.html' with icon_name="mobilizador" %}
          {% include 'section-icons.html' with icon_name="impacto" %}
          {% comment %} {% include 'section-icons.html' with icon_name="empatico" %} {% endcomment %}
          <div class="mb-4">
            <p>Empatico</p>
            <div class="flex gap-2">
              {% include "design/icones/empatico.svg" with classnames="icon icon-sm icon-bege-nossas icon-secondary-azul-nossas" %}
              {% include "design/icones/empatico.svg" with classnames="icon icon-sm icon-azul-nossas icon-secondary-amarelo-nossas" %}
              {% include "design/icones/empatico.svg" with classnames="icon icon-sm icon-rosa-nossas icon-secondary-vermelho-nossas" %}
              {% include "design/icones/empatico.svg" with classnames="icon icon-sm icon-amarelo-nossas icon-secondary-laranja-nossas" %}
              {% include "design/icones/empatico.svg" with classnames="icon icon-sm icon-verde-claro-nossas icon-secondary-azul-nossas" %}
              {% include "design/icones/empatico.svg" with classnames="icon icon-sm icon-laranja-nossas icon-secondary-verde-claro-nossas" %}
              {% include "design/icones/empatico.svg" with classnames="icon icon-sm icon-azul-nossas icon-secondary-verde-nossas" %}
              {% include "design/icones/empatico.svg" with classnames="icon icon-sm icon-vermelho-nossas icon-secondary-rosa-nossas" %}
              {% include "design/icones/empatico.svg" with classnames="icon icon-sm icon-preto-nossas icon-secondary-bege-nossas" %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="my-3">
      <h3 class="h3">Gráficos Extras</h3>
      <hr class="breakline" />
      <div class="grid gap-4 flex-wrap">
        <div class="grid-col-3">
          <div class="mb-4">
            <p>Questionador</p>
            <div class="flex gap-2">
              {% include 'design/icones/questionador-rect.svg' with classnames="icon icon-sm icon-bg-azul-nossas" %}
              {% include 'design/icones/questionador-rect.svg' with classnames="icon icon-sm icon-bg-verde-nossas" %}
              {% include 'design/icones/questionador-rect.svg' with classnames="icon icon-sm icon-rosa-nossas icon-bg-verde-nossas" %}
            </div>
          </div>
          <div class="mb-4">
            <p>Hub</p>
            <div class="flex gap-2">
              {% include 'design/icones/hub-rect.svg' with classnames="icon icon-sm icon-bg-azul-nossas" %}
              {% include 'design/icones/hub-rect.svg' with classnames="icon icon-sm icon-bg-vermelho-nossas" %}
              {% include 'design/icones/hub-rect.svg' with classnames="icon icon-sm icon-vermelho-nossas icon-bg-rosa-nossas" %}
              {% include 'design/icones/hub-rect.svg' with classnames="icon icon-sm icon-bg-rosa-nossas" %}
              {% include 'design/icones/hub-circle.svg' with classnames="icon icon-sm icon-azul-nossas icon-bg-verde-nossas" %}
              {% include 'design/icones/hub-circle.svg' with classnames="icon icon-sm icon-rosa-nossas icon-bg-vermelho-nossas" %}
            </div>
          </div>
        </div>
        <div class="grid-col-3">
          <div class="mb-4">
            <p>Ativista</p>
            <div class="flex gap-2">
              {% include 'design/icones/ativista-rect.svg' with classnames="icon icon-sm icon-bg-azul-nossas" %}
              {% include 'design/icones/ativista-rect.svg' with classnames="icon icon-sm icon-bg-rosa-nossas" %}
              {% include 'design/icones/ativista-rect.svg' with classnames="icon icon-sm icon-laranja-nossas icon-bg-verde-claro-nossas" %}
              {% include 'design/icones/ativista-rect.svg' with classnames="icon icon-sm icon-bg-verde-claro-nossas" %}
            </div>
          </div>
          <div class="mb-4">
            <p>Impulsionador</p>
            <div class="flex gap-2">
              {% include 'design/icones/impulsionador-rect.svg' with classnames="icon icon-sm icon-bg-azul-nossas" %}
              {% include 'design/icones/impulsionador-rect.svg' with classnames="icon icon-sm icon-azul-nossas icon-bg-laranja-nossas" %}
              {% include 'design/icones/impulsionador-rect.svg' with classnames="icon icon-sm icon-bg-laranja-nossas" %}
            </div>
          </div>
        </div>
        <div class="grid-col-3">
          <div class="mb-4">
            <p>Coletivo</p>
            <div class="flex gap-2">
              {% include 'design/icones/coletivo-rect.svg' with classnames="icon icon-sm icon-azul-nossas" %}
              {% include 'design/icones/coletivo-rect.svg' with classnames="icon icon-sm icon-vermelho-nossas" %}
            </div>
          </div>
          <div class="mb-4">
            <p>Mobilizador</p>
            <div class="flex gap-2">
              {% include 'design/icones/mobilizador-rect.svg' with classnames="icon icon-sm icon-bg-azul-nossas" %}
              {% include 'design/icones/mobilizador-rect.svg' with classnames="icon icon-sm icon-bg-laranja-nossas" %}
              {% include 'design/icones/mobilizador-rect.svg' with classnames="icon icon-sm icon-amarelo-nossas icon-secondary-preto-nossas icon-bg-bege-nossas" %}
              {% include 'design/icones/mobilizador-rect.svg' with classnames="icon icon-sm icon-bg-bege-nossas" %}
            </div>
          </div>
        </div>
        <div class="grid-col-3">
          <div class="mb-4">
            <p>Impacto</p>
            <div class="flex gap-2">
              {% include 'design/icones/impacto-rect.svg' with classnames="icon icon-sm icon-bg-azul-nossas" %}
              {% include 'design/icones/impacto-rect.svg' with classnames="icon icon-sm icon-bg-amarelo-nossas" %}
              {% include 'design/icones/impacto-rect.svg' with classnames="icon icon-sm icon-bege-nossas icon-bg-amarelo-nossas" %}
            </div>
          </div>
          <div class="mb-4">
            <p>Empatico</p>
            <div class="flex gap-2">
              {% include 'design/icones/empatico-rect.svg' with classnames="icon icon-sm icon-bg-azul-nossas" %}
              {% include 'design/icones/empatico-rect.svg' with classnames="icon icon-sm icon-rosa-nossas icon-secondary-verde-nossas icon-bg-azul-nossas" %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="my-3">
      <h3 class="h3">Paleta de cores</h3>
      <hr class="breakline" />
      <div class="grid">
        <div class="g-col-4">
          <div class="bg-azul-nossas p-3 rounded-3">
            <p>Azul - #233D90</p>
          </div>
        </div>
        <div class="g-col-4">
          <div class="bg-verde-claro-nossas p-3 rounded-3">
            <p>Verde claro - #91CEC1 </p>
          </div>
        </div>
        <div class="g-col-4">
          <div class="bg-bege-nossas p-3 rounded-3">
            <p>Bege - #F7F7ED</p>
          </div>
        </div>
        <div class="g-col-4">
          <div class="bg-vermelho-nossas p-3 rounded-3">
            <p>Vermelho - #E02437</p>
          </div>
        </div>
        <div class="g-col-4">
          <div class="bg-amarelo-nossas p-3 rounded-3">
            <p>Amarelo - #F8AD39</p>
          </div>
        </div>
        <div class="g-col-4">
          <div class="bg-rosa-nossas p-3 rounded-3">
            <p>Rosa - #F6B7C1</p>
          </div>
        </div>
        <div class="g-col-4">
          <div class="bg-verde-nossas p-3 rounded-3">
            <p>Verde - #8CAD6A</p>
          </div>
        </div>
        <div class="g-col-4">
          <div class="bg-laranja-nossas p-3 rounded-3">
            <p>Laranja - #EB5E3B</p>
          </div>
        </div>
        <div class="g-col-4">
          <div class="bg-preto-nossas p-3 rounded-3">
            <p>Preto - #1D1D1B</p>
          </div>
        </div>
        <div class="g-col-4">
          <div class="bg-branco-nossas border-2 border-gray-600 p-3 rounded-3">
            <p>Branco - #FFFFFF</p>
          </div>
        </div>
        <div class="g-col-4">
          <div class="bg-cinza-extra-nossas p-3 rounded-3">
            <p>Cinza extra - #433939</p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="my-3">
      <h3 class="h3">Tipografia</h3>
      <hr class="breakline" />
      <div class="grid">
        <div class="g-col-6">
          <h1 class="h1">Cabeçalho 1</h1>
          <h2 class="h2">Cabeçalho 2</h2>
          <h3 class="h3">Cabeçalho 3</h3>
          <h4 class="h4">Cabeçalho 4</h4>
          <h5 class="h5">Cabeçalho 5</h5>
          <h6 class="h6">Cabeçalho 6</h6>
        </div>
        <div class="g-col-6">
          <p class="lead">
            Parágrafo com maior destaque para descrições.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ex dui, aliquam non molestie eu, vehicula non sapien. Sed fringilla accumsan tristique. Nullam pretium pharetra lobortis. Donec porttitor leo placerat orci venenatis, id congue justo elementum. Sed lobortis rutrum erat. Donec nisi est, pulvinar et pharetra eu, cursus pellentesque urna. Vivamus enim risus, tristique sed arcu eu, luctus lobortis urna.</p>
        </div>
      </div>
    </section>

    {% for instance in instances %}
    <section class="my-3">
        <h3 class="h3">{{ instance.name }}</h3>
        <hr class="breakline" />
        <div>
            {% render_placeholder instance.placeholder %}
        </div>
    </section>
  {% endfor %}
  </main>
{% endblock %}

