/* static/src/input.css */
@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    h1 {
        @apply text-5xl mb-8;
    }
    h2 {
        @apply text-4xl mb-8;
    }
    h3 {
        @apply text-3xl mb-6;
    }
    h4 {
        @apply text-2xl mb-6;
    }
    h5 {
        @apply text-xl mb-4;
    }
    h6 {
        @apply text-lg mb-4;
    }
}