/* static/src/input.css */
@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    h1 {
        @apply text-5xl;
    }
    h2 {
        @apply text-4xl;
    }
    h3 {
        @apply text-3xl;
    }
    h4 {
        @apply text-2xl;
    }
    h5 {
        @apply text-xl;
    }
    h6 {
        @apply text-lg;
    }
    a {
        @apply text-blue-500 cursor-pointer;
    }
    a:hover{
        @apply underline;
    }

    .aligned label.flex {
        @apply inline-block;
    }

    input[type="radio"]:checked + div {
        @apply text-[#131313] rounded-md bg-[#eee];
    }

    form .form-row input[type="text"], 
    form .form-row input[type="password"], 
    form .form-row input[type="email"], 
    form .form-row input[type="url"], 
    form .form-row input[type="tel"], 
    form .form-row input[type="number"], 
    form .form-row textarea, 
    form .form-row select {
        background-color: #EFEFEF !important;
        border-radius: 10px !important;
        min-height: 50px !important;
        border: 1px solid #E0E0E0 !important;
        padding: 0 20px !important;
    }

    /* div.cms .cms-modal-item-buttons .cms-btn.cms-btn-action {
        @apply btn btn-sm bg-black;
    } */

    /* Editor CMS */
    /* div.cms .cms-btn-action.default {
        @apply bg-black;
    } */
    /* div.cms .cms-modal-item-buttons .cms-btn {
        @apply btn btn-sm btn-outline;
    } */
    div.cms .cms-modal-item-buttons a:only-child,
    div.cms .cms-toolbar-item-buttons a:only-child {
        @apply btn btn-sm btn-outline;
    }

    div.cms .cms-modal-item-buttons a.cms-btn-action {
        @apply bg-base-content text-white hover:bg-transparent hover:text-base-content;
    }
    div.cms .cms-modal-item-buttons a.cms-btn-caution {
        @apply bg-red-700 text-white hover:bg-transparent hover:text-red-700;
    }
    div.cms.cms-toolbar-debug .cms-toolbar .cms-btn-action {
        @apply bg-yellow-400 hover:text-black !important;
    }

    /* a .cms-btn.default {
        background-color: #131313;
        border-radius: 10px;
        font-weight: 700;
        text-transform: uppercase;
        border: 1px solid #131313;
    } */
}
