{% load menu_tags %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header bg-azul-nossas">
    <a class="navbar-brand" href="#">
      {% include "nossas/svg/brand-lg.svg" %}
    </a>
    <button type="button" data-bs-dismiss="offcanvas" aria-label="Close">
      {% include "nossas/svg/circle-close.svg" %}
    </button>
  </div>
  <div class="offcanvas-body bg-azul-nossas">
    <span class="px-2">
      <hr class="breakline breakline-white" />
    </span>

    <ul class="navbar-nav me-auto mb-4">
      {% show_menu 0 100 100 100 "nossas/menu.html" %}
    </ul>
    
    <hr class="breakline breakline-white pt-6" />

    <div class="py-4">
      <div class="d-flex justify-content-between px-4">
        <a href="https://instagram.com/_nossas">
          {% include "nossas/svg/instagram.svg" %}
        </a>
        <a href="https://www.facebook.com/nossasorg/">
          {% include "nossas/svg/facebook.svg" %}
        </a>
        <a href="https://www.twitter.com/_nossas">
          {% include "nossas/svg/twitter.svg" %}
        </a>
        <a href="https://www.linkedin.com/company/nossas/">
          {% include "nossas/svg/linkedin.svg" %}
        </a>
        <a href="https://www.youtube.com/nossas">
          {% include "nossas/svg/youtube.svg" %}
        </a>
      </div>
      <form class="pt-4">
        <div class="input-group">
          <input class="form-control" name="search" placeholder="Digite aqui o que está buscando..." />
          <button class="input-group-text">
            {% include "nossas/svg/search.svg" %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% comment %} <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <span class="px-2">
      <hr class="breakline breakline-white" />
    </span>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% show_menu 0 100 100 100 "nossas/menu.html" %}
    </ul>
    
    <hr class="breakline breakline-white pt-6" />

    <div class="py-4">
      <div class="d-flex justify-content-between px-4">
        <a href="#">
          {% include "nossas/svg/instagram.svg" %}
        </a>
        <a href="#">
          {% include "nossas/svg/facebook.svg" %}
        </a>
        <a href="#">
          {% include "nossas/svg/twitter.svg" %}
        </a>
        <a href="#">
          {% include "nossas/svg/linkedin.svg" %}
        </a>
        <a href="#">
          {% include "nossas/svg/youtube.svg" %}
        </a>
      </div>
      <form class="pt-4">
        <div class="input-group">
          <input class="form-control" name="search" placeholder="Digite aqui o que está buscando..." />
          <button class="input-group-text">
            {% include "nossas/svg/search.svg" %}
          </button>
        </div>
      </form>
    </div>
  </div> {% endcomment %}