h1 {
    font-size: 80px;
}

h2 {
    font-size: 72px;
}

h3 {
    font-size: 64px;
}

h4 {
    font-size: 48px;
}

h5 {
    font-size: 40px;
}

h6 {
    font-size: 32px;
}

.sub-1 {
    font-size: 24px;
}

.sub-2 {
    font-size: 20px;
}

.sub-3 {
    font-size: 18px;
}

// Create new class
.toogle-button {

    .btn {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .btn-check:checked + .btn {
        border-color: var(--bs-btn-active-border-color)!important;
    }
}

.sub-5 {
    font-size: 14px;
}