{% load cms_tags %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{GTAG_ID}}"></script>
<script>
  // Inicia configuraçõa principal do GA4
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }

  gtag('js', new Date());
  gtag('config', '{{GTAG_ID}}', {
    "page_title": "{% page_attribute 'page_title' %}"
  });

  // Aplica evento de focusOut aos inputs dos formulários
  const inputElements = document.querySelectorAll("form input");
  if (inputElements || inputElements?.length > 0) {
    inputElements.forEach(function (element) {
      formElement = element.closest("form")

      if (element.name !== "csrfmiddlewaretoken") {
        element.addEventListener("focusout", function () {
          gtag('event', 'input_focus_out', {
            form_id: formElement.id,
            input_id: element.id,
            input_status: element.value !== "" ? "filled" : "unfilled"
          });
        });
      }
    });
  }
</script>