
<form action="{% url 'action-form-submit' %}" method="POST" novalidate>
  <input id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="" type="hidden" />
  {% for field in form %}
  <div class="mb-3">
    {{ field.errors }}
    {{ field.label_tag }}
    {{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
  {% endfor %}
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit">Pressionar</button>
    <p style="font-size: 12px;color: #302f2f;">Ao inserir seus dados, você concorda em ter seus dados compartilhados com
      os organizadores dessa página e aceita receber emails de atualização, conforme descrito na política de
      privacidade. Você pode cancelar o recebimento desses e-mails a qualquer momento.</p>
  </div>
</form>

{% block extra_js %}
<script>
  (function () {
    function getCookie(name) {
      let cookieValue = null;

      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();

              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));

                  break;
              }
          }
      }

      return cookieValue;
    }

    const token = getCookie('csrftoken')
    document.getElementById("csrfmiddlewaretoken").value = token
}());
</script>
{% endblock %}