{% extends 'votepeloclima/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
<div class="d-flex">
  <div class="bg-light" style="height:100vh;width:50%;">
  </div>
  <div class="container px-5 py-4 my-auto">
    <h1 class="fw-bold text-uppercase">CRIE UMA SENHA</h1>
    <p>Acesse a área restrita das candidaturas para verificar, editar e compartilhar suas informações.</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-secondary" type="submit">Criar senha</button>
    </form>
  </div>
</div>
{% endblock %}