{% extends 'votepeloclima/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
<div class="d-flex">
  <div class="bg-light" style="height:100vh;width:50%;">
  </div>
  <div class="container px-5 py-4 my-auto">
    <h1 class="fw-bold text-uppercase">Recuperar acesso</h1>
    <p>Insira seu e-mail abaixo para receber um link que permitirá criar uma nova senha. Este link será enviado para o endereço de e-mail registrado e você poderá usá-lo para finalizar seu cadastro ou redefinir sua senha esquecida.</p>
    <form method="post">
        {% csrf_token %}
        <div id="div_id_email" class="mb-3">
            <label for="id_email" class="form-label requiredField">E-mail<span class="asteriskField">*</span></label>
            {{ form.email.errors }}
            <input type="email" name="email" autofocus="" autocapitalize="none" autocomplete="email" maxlength="150" class="textinput form-control" required="" id="id_email" placeholder="Insira seu e-mail" />
        </div>
        <button class="btn btn-secondary" type="submit">Enviar e-mail</button>
    </form>
  </div>
</div>
{% endblock %}