{% extends 'votepeloclima/base.html' %}
{% load static crispy_forms_filters %}

{% block content %}
<div class="d-flex" style="height:100vh;">
  <div class="bg-screenside d-none d-lg-flex">
    <div class="screenside" style="background-image:url({% static 'imgs/bg-steps.svg' %});"></div>
  </div>
  <div class="candidate-reset-password container py-5 my-auto">
    <h2 class="fw-bold text-uppercase">Recuperar acesso</h2>
    <p>Insira seu e-mail abaixo para receber um link que permitirá criar uma nova senha. Este link será enviado para o endereço de e-mail registrado e você poderá usá-lo para finalizar seu cadastro ou redefinir sua senha esquecida.</p>
    <form method="post">
        {% csrf_token %}
        <div id="div_id_email" class="mb-3">
            <label for="id_email" class="form-label requiredField">E-mail<span class="asteriskField">*</span></label>
            {{ form.email.errors }}
            <input type="email" name="email" autofocus="" autocapitalize="none" autocomplete="email" maxlength="150" class="textinput form-control" required="" id="id_email" placeholder="Insira seu e-mail" />
        </div>
        <div class="mt-3 d-flex flex-column align-items-md-start">
          <button class="btn btn-secondary text-uppercase" type="submit">Enviar e-mail</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}
