{% extends 'nossas/home.html' %}
{% load i18n cms_tags %}

{% block content %}
{% include "nossas/plugins/navbar.html" with instance=navbar  %}
<div class="campaign-detail bg-bege-nossas text-black">
    <div class="campaign-detail-header">
        <img
            src="{% if object.header_image %}{{ object.header_image.url }}{% else %}https://placehold.co/800@2x.png{% endif %}"
            class="img-fluid"
        />
        <div class="container">
            {% include "nossas/graphics/group_21.svg" %}
        </div>
    </div>
    <div class="campaign-detail-body py-5">
        <div class="container">
            <h1>{{ object.name }}</h1>
        </div>
        {% render_placeholder object.placeholder %}
    </div>
</div>
{% include "nossas/plugins/site_footer.html"  %}
{% endblock %}