django==3.2
django-environ
psycopg2-binary
django-select2
django-formtools
django-recaptcha==3
# Django CMS
django-cms>=3
djangocms-text-ckeditor
djangocms-picture
django-colorfield
djangocms_video
djangocms_snippet
# Authentication all platforms
# django-allauth
bcrypt
whitenoise
svglib
reportlab
django-social-share
pyjwt
requests
# Domains
etcd3-py>=0.1.6
dnspython>=2.4.2
# Nossas
django-translated-fields>=0.12.0