django==3.2
django-environ
psycopg2-binary
django-select2
django-formtools
django-recaptcha
# Django CMS
django-cms
djangocms-text-ckeditor
djangocms-picture
django-colorfield
djangocms_video
djangocms_snippet
# Authentication all platforms
# django-allauth
bcrypt
whitenoise
svglib
reportlab
django-social-share