.paginator {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    .control-indicator {
        opacity: 0.3;
        padding: 30px 5px;

        &.active {
            opacity: 1;
        }

        a, span {
            padding: 20px 5px;
        }
    }
}
