.form-items .select2-container {
  @apply min-w-full;
}

.aeleicaodoano h4,
.aeleicaodoano h5,
.aeleicaodoano h6,
.aeleicaodoano a,
.aeleicaodoano p,
.aeleicaodoano span,
.aeleicaodoano label {
  font-family: "Nunito Sans", sans-serif;
}

.aeleicaodoano h1,
.aeleicaodoano h2,
.aeleicaodoano h3,
.aeleicaodoano .btn,
.aeleicaodoano .navbar a {
  font-family: "Capriola", sans-serif;
  line-height: normal;
}

.aeleicaodoano p {
  font-size: 18px;
}

.aeleicaodoano .btn {
  @apply whitespace-normal rounded-lg !h-auto;
}

.aeleicaodoano .btn-primary {
  @apply bg-[#1842AC] border-none !text-neutral-50;
}

.aeleicaodoano .btn-secondary {
  @apply bg-[#FFC60B] border-none !text-neutral-50;
}

.aeleicaodoano nav a {
  font-family: "Capriola", sans-serif;
  color: #1842AC;
}

.aeleicaodoano .form-control {
  @apply max-w-none;
}

.aeleicaodoano .form-control input[type="file"] {
  @apply w-full max-w-xs rounded-lg file-input file-input-bordered file-input-primary border-[#1842AC] border-2;
}

.aeleicaodoano .form-control input[type="file"]::file-selector-button {
  @apply text-neutral-50 bg-[#1842AC] border-[#1842AC] border-2;
}

.aeleicaodoano .form-control textarea {
  @apply rounded-lg textarea textarea-bordered;
}

.aeleicaodoano .form-control input[type="text"],
.aeleicaodoano .form-control input[type="email"],
.aeleicaodoano .form-control input[type="number"],
.aeleicaodoano .form-control select {
  @apply w-full rounded-lg input input-bordered bg-[#EFEFEF] max-w-none;
}

.aeleicaodoano .form-control input[type="radio"] {
  @apply mr-2 radio;
}

.aeleicaodoano .form-control input[type="checkbox"] {
  @apply checkbox checkbox-sm;
}

.aeleicaodoano .form-control .radio-select {
  @apply flex gap-6;
}

.aeleicaodoano .form-control .radio-select li label {
  @apply flex flex-row text-neutral-700;
}

.aeleicaodoano a.form-back-btn,
.aeleicaodoano button.form-back-btn  {
  font-family: "Capriola", sans-serif;
  color: #1842AC !important;
}

.aeleicaodoano .form-control .select2-selection {
  @apply select w-full rounded-lg bg-[#EFEFEF] max-w-none;
}

.aeleicaodoano .form-control ul.select2-results__options {
  @apply text-neutral-700;
}

.aeleicaodoano .form-control .select2-selection__arrow {
  @apply hidden;
}

.aeleicaodoano .form-control span.select2-selection__rendered {
  @apply flex justify-center items-center;
}

.aeleicaodoano .candidate-content .steps li.step {
  @apply min-w-[32px];
}

.aeleicaodoano .candidate-content .steps li.step-primary::after {
  @apply !bg-[#EDB052];
}

.aeleicaodoano .candidate-content .steps li.step::before {
  @apply hidden;
}

.aeleicaodoano .candidate-content .steps li.step::after {
  @apply w-4 h-4 text-[8px] font-bold text-blue-800 bg-[#E1E1E1];
}


.aeleicaodoano .form-control .commitment-box {
  @apply overflow-hidden !items-start !justify-start flex !p-4 rounded border-2 bg-neutral-100 border-neutral-200 transition-all cursor-pointer;
}

.aeleicaodoano .form-control .commitment-box .icon-svg > svg {
  @apply text-neutral-400;
}

.aeleicaodoano .form-control .commitment input[type="checkbox"] {
  @apply hidden;
}

.aeleicaodoano .form-control .commitment input[type="checkbox"] ~ .commitment-box > .icon-svg {
  -webkit-filter: url(#grayscale);
  filter: url(#grayscale);
}

.aeleicaodoano .form-control .commitment input[type="checkbox"]:checked ~ .commitment-box > .icon-svg {
  -webkit-filter: none;
  filter: none;
}

.aeleicaodoano .form-control .filter-icon {
  @apply absolute w-0 h-0;
  overflow: none;
  left: -100%;
}

.aeleicaodoano .form-control .commitment input[type="checkbox"]:checked ~ .commitment-box {
  @apply border-2 border-green-600;
}

.aeleicaodoano .form-control .commitment-tooltip.tooltip.tooltip-bottom:hover::before {
  @apply hidden bg-transparent opacity-0;
}

.aeleicaodoano .form-control .commitment-tooltip.tooltip.tooltip-bottom:hover::after {
  @apply hidden bg-transparent opacity-0;
}

.aeleicaodoano .form-control .commitment-tooltip.tooltip.tooltip-bottom.tooltip-open:hover::before {
  @apply visible opacity-100;
  background-color: var(--tooltip-color);
}

.aeleicaodoano .form-control .commitment-tooltip.tooltip.tooltip-bottom.tooltip-open:hover::after {
  @apply visible opacity-100;
}

.aeleicaodoano .btn-share,
.aeleicaodoano .btn-share > button {
  @apply w-full;
}

.aeleicaodoano .btn-share button, .aeleicaodoano .btn-share a {
  @apply btn-outline min-w-[270px] rounded-lg border-none flex justify-items-center;
}

.aeleicaodoano .btn-share button > span, .aeleicaodoano .btn-share a > span {
  font-family: "Capriola", sans-serif;
  @apply !text-neutral-50 text-xs md:text-lg font-normal flex-1;
}

.aeleicaodoano .btn-share button > svg, .aeleicaodoano .btn-share a > svg {
  @apply w-10;
}

.aeleicaodoano .carousel-controls .active {
  @apply bg-[#FFC60B];
}

.aeleicaodoano .carousel-controls .carousel-dot {
  @apply transition-all;
}

.aeleicaodoano .carousel-track {
  @apply flex w-full transition-transform;
}
.aeleicaodoano .carousel-slide {
  flex: 0 0 100%;
  @apply p-5;
}

.aeleicaodoano .navbar a {
  text-shadow: 0 0.2px 1px rgba(0, 0, 0, 0.2);
}

.aeleicaodoano .swiper {
  @apply w-full h-full;
}

.aeleicaodoano .swiper-slide {
  @apply flex flex-col gap-4 content-center items-center px-8 text-center md:px-4;
}

.aeleicaodoano .swiper-pagination-bullet {
  @apply bg-[#FFC60B];
}

.aeleicaodoano .swiper-button-next, 
.aeleicaodoano .swiper-button-prev {
  @apply top-1/3 text-neutral-50;
}

.aeleicaodoano .swiper-horizontal > .swiper-pagination-bullets,
.aeleicaodoano .swiper-pagination-bullets.swiper-pagination-horizontal,
.aeleicaodoano .swiper-pagination-custom, .swiper-pagination-fraction {
  @apply bottom-auto;
}