{% load static page_extras %}
<!DOCTYPE html>
<html lang="pt" data-theme="cupcake" class="bg-white">

<head>
  <title>Eleição do Ano</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="{% static 'dist/tailwind/css/page.css' %}">

  {% block extra_head %}{% endblock %}
</head>

<body class="content-between h-screen tracking-normal leading-normal aeleicaodoano font-droid">
  {% block navbar %}{% include 'eleicao/plugins/navbar.html' %}{% endblock %}
  {% block content %}{% endblock %}

  {% block footer %}
    {% block sign_footer %}{% include 'eleicao/plugins/footer.html' %}{% endblock %}
    {% show_footer styles='background-color:white;' community_name='NOSSAS' %}
  {% endblock %}
  {% block footer_js %}{% endblock %}
</body>
</html>
