{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="cupcake">

<head>
  <title>Eleição do Ano</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="{% static 'dist/tailwind/css/page.css' %}">

  {% block extra_head %}{% endblock %}
</head>

<body class="content-between py-28 h-screen tracking-normal leading-normal eleicaodoano font-droid">
  {% block main %}
  {% endblock main %}
  
  {% block form %}{% endblock %}
  {% block footer_js %}{% endblock %}
</body>
</html>
