{% extends "eleicao/base.html" %}

{% load static %}

{% block extra_head %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<!-- Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block navbar %}{% endblock %}
{% block content %}
<main class="h-screen">
  <div class="grid grid-cols-1 w-full h-full md:grid-cols-2">
    <section class="candidate-form">
      <div class="py-4 ml-16 candidate-logo">
        <a href="#">
          <img src="{% static 'images/eleicao/logo-eleicao-do-ano.svg' %}" alt="Logo Eleição do Ano">
        </a>
      </div>
      <div class="flex flex-col justify-center items-center px-4 candidate-content">
        <ul class="steps steps-horizontal">
          {% for step in wizard.steps.all %}
            {% if step == wizard.steps.current %}
              <li class="step step-primary">{{step1}}</li>
            {% else %}
              <li class="step">{{step1}}</li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="w-full md:w-auto md:min-w-[450px]">
          <h1 class="text-7xl text-[#1842AC] pt-10 ">Seus dados</h1>
          <form class="candidate-create-form" action="" method="post">
            {% csrf_token %}
            <div class="form-items">
              {{ wizard.management_form }}
              {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                  {% for form in wizard.form.forms %}
                    {% for field in form %}
                      {{field.label_tag}}
                      {{field}}
                    {% endfor %}
                  {% endfor %}
              {% else %}
              {% for field in wizard.form %}
                <div class="py-1 w-full form-control">
                  {{field.label_tag}}
                  {{field}}
                </div>
            {% endfor %}
              {% endif %}
            </div>
            <div class="flex justify-between items-center py-4">
            {% if wizard.steps.prev %}
              <button class="text-xl form-back-btn"name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Voltar</button>
            {% else %}
              <a href="#" class="text-xl form-back-btn">Voltar</a>
            {% endif %}
              <input class="btn btn-primary" type="submit" value="Continuar" />
            </div>
          </form>
        </div>
      </div>
    </section>
    <img class="hidden md:block md:w-full md:h-full" src="{% static 'images/eleicao/candidate-form-image.png' %}" alt="Imagem">
  </div>
</main>
{% endblock %}

{% block footer_js %}
<script>
  (function ($) {
    "use strict";

    $(function () {
      $('#id_1-state').select2({
        placeholder: 'Selecione seu estado'
      });
      $('#id_1-city').select2({
        placeholder: 'Selecione sua cidade'
      });
      $('#id_1-neighborhood').select2({
        placeholder: 'Selecione seu bairro'
      });
      $('#id_1-zone_id').select2({
        placeholder: 'Selecione o local da candidatura'
      });

      var uf;
      $("#id_1-state").on("change", (evt) => {
        uf = evt.target.value

        $.get("{% url 'eleicao:cep' %}" + "?state=" + uf, (data) => {
          $("#id_1-city").empty()
          $("#id_1-city").append('<option value="">----</option>')
          $.each(data.choices, (index, value) => {
            $("#id_1-city").append(
              '<option value="' + value[0] + '">' + value[1] + '</option>'
            )
          })
        })
      });

      var city
      $("#id_1-city").on("change", (evt) => {
        city = evt.target.value;
        $.get("{% url 'eleicao:cep' %}" + "?city=" + city + "&state=" + uf, (data) => {
          $("#id_1-neighborhood").empty()
          $("#id_1-neighborhood").append('<option value="">----</option>')
          $.each(data.choices, (index, value) => {
            $("#id_1-neighborhood").append('<option value="' + value[0] + '">' + value[1] + "</option>")
          })
        })
      });

      $("#id_1-neighborhood").on("change", (evt) => {
        $.get("{% url 'eleicao:cep' %}" + "?city=" + city + "&state=" + uf + "&neighborhood=" + evt.target.value, (data) => {
          $("#id_1-zone_id").empty()
          $("#id_1-zone_id").append('<option value="">----</option>')
          $.each(data.choices, (index, value) => {
            $("#id_1-zone_id").append('<option value="' + value[0] + '">' + value[1] + "</option>")
          })
        })
      });
    });
  }(window.jQuery));
</script>
{% endblock %}
