{% extends "tailwind.html" %}
{% load static %}

{% block page_head %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<!-- Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block favicon %}
<link rel="shortcut icon" href="{% static 'images/eleicao/favicon.png' %}" type="image/x-icon">
{% endblock %}

{% block title %}A Eleição do Ano{% endblock %}

{% block body_class %}aeleicaodoano{% endblock %}

{% block content %}
<main class="h-screen">
  <div class="grid grid-cols-1 gap-10 p-5 w-full h-full md:grid-cols-2 md:pl-10 md:p-0">
    <section class="pb-10 md:pb-20 candidate-form">
      <div class="flex justify-center py-3 candidate-logo md:block">
        <a href="/">
          <img src="{% static 'images/eleicao/logo-eleicao-do-ano.svg' %}" alt="Logo Eleição do Ano">
        </a>
      </div>
      <div class="flex flex-col justify-center items-center px-4 candidate-content">
        <ul class="steps steps-horizontal">
          {% for step in wizard.steps.all %}
            {% if step == wizard.steps.current %}
              <li class="step step-primary">{{step1}}</li>
            {% else %}
              <li class="step">{{step1}}</li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="w-full md:max-w-[520px]">
          {% if wizard.form.forms %}
            <h1 class="py-8 text-4xl text-blue-800 md:text-5xl">{{wizard.form.forms.title}}</h1>
          {% else %}
            <h1 class="py-8 text-4xl text-blue-800 md:text-5xl">{{wizard.form.title}}</h1>
            {% if wizard.form.starter_text %}
              <p class="pb-4 text-lg text-center text-blue-800 lg:text-left">{{wizard.form.starter_text}}</p>
            {% endif %}
          {% endif %}
          <form class="candidate-create-form" action="" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="form-items">
              {{ wizard.management_form }}
              {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                  {% for form in wizard.form.forms %}
                    {% for field in form %}
                      {{field.label_tag}}
                      {{field}}
                    {% endfor %}
                  {% endfor %}
              {% else %}
                {% for field in wizard.form %}
                      {% if "agree" in field.name %}
                        {% include "eleicao/includes/agree_input.html" with field=field %}
                      {% elif field.name == "photo" %}
                        {% include "eleicao/includes/form_control.html" with field=field help_text_second="No capricho para o seu perfil" %}
                      {% elif field.name == "video" %}
                        {% include "eleicao/includes/form_control.html" with field=field help_text_second="No máximo 30s, beleza?" %}
                      {% else %}
                        {% include "eleicao/includes/form_control.html" with field=field %}
                      {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            {% if wizard.form.helper_text %}
              <p class="py-5 text-center lg:text-left">{{wizard.form.helper_text}}</p>
            {% endif %}
            {% comment %} Botões de ação {% endcomment %}
            <div class="flex flex-col gap-4 justify-between items-center py-4 lg:flex-row">
              {% if wizard.steps.current == wizard.steps.first %}
                <input id="submit-btn" class="btn btn-primary" type="submit" value="MINHA CANDIDATURA É EM DEFESA DO ECA" />
              {% else %}
                {% if wizard.steps.prev %}
                  <button class="text-xl form-back-btn" type="submit" formnovalidate name="wizard_goto_step" value="{{ wizard.steps.prev }}">Voltar</button>
                {% else %}
                  <a href="#" class="text-xl form-back-btn">Voltar</a>
                {% endif %}

                {% if wizard.steps.current != wizard.steps.last %}
                  <input id="submit-btn" class="btn btn-primary" type="submit" value="Continuar" />
                {% else %}
                  <input id="submit-btn" class="btn btn-primary" type="submit" value="Salvar e Concluir" />
                {% endif %}
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </section>
    <img class="hidden object-cover md:block md:w-full md:h-full" src="{% static 'images/eleicao/candidate-form-image.png' %}" alt="Imagem">
  </div>
</main>
{% endblock %}

{% block footer_js %}
<script>
  (function ($) {
    "use strict";

    $(function () {
      $('#id_5-state').select2({
        placeholder: 'Selecione seu estado'
      });
      $('#id_5-city').select2({
        placeholder: 'Selecione sua cidade'
      });
      $('#id_5-place').select2({
        placeholder: 'Selecione seu local'
      });
      $('#id_4-gender').select2({
        placeholder: 'Selecione'
      });
      $('#id_4-race').select2({
        placeholder: 'Selecione'
      });

      var uf;
      $("#id_5-state").on("change", (evt) => {
        uf = evt.target.value

        $.get("{% url 'eleicao:cep' %}" + "?state=" + uf, (data) => {
          $("#id_5-city").empty()
          $("#id_5-city").append('<option value="">----</option>')
          $.each(data.choices, (index, value) => {
            $("#id_5-city").append(
              '<option value="' + value[0] + '">' + value[1] + '</option>'
            )
          })
        })
      });

      var city
      $("#id_5-city").on("change", (evt) => {
        city = evt.target.value;
        $.get("{% url 'eleicao:cep' %}" + "?city=" + city + "&state=" + uf, (data) => {
          $("#id_5-place").empty()
          $("#id_5-place").append('<option value="">----</option>')
          $.each(data.choices, (index, value) => {
            $("#id_5-place").append('<option value="' + value[0] + '">' + value[1] + "</option>")
          })
        })
      });

      //fill up slug
      $("#id_3-name").on("change",(evt) => {
        $.get("{% url 'eleicao:slug' %}" + "?name=" + evt.target.value, (data) => {
          $("#id_3-slug").val(data.slug)
         })

      } )
    });

    $(function () {
      let checkboxes = $("#commitment-checkbox input[type='checkbox']");
      let tooltips = $(".commitment-tooltip");

      checkboxes.on("change", function () {
        let checkbox = $(this);
        let isChecked = checkbox.prop("checked");
        let index = checkboxes.index(checkbox);

        // Find the corresponding tooltip by index
        let tooltip = tooltips.eq(index);

        if (isChecked) {
          tooltip.removeClass('tooltip-open');
        }
      });

      $("#submit-btn").on("click", function () {
        checkboxes.each(function () {
          let checkbox = $(this);
          let isChecked = checkbox.prop("checked");

          if (!isChecked) {
            let index = checkboxes.index(checkbox);
            let tooltip = tooltips.eq(index);
            tooltip.addClass('tooltip-open');
          }
        });
      });
    })
  }(window.jQuery));
</script>
<script src="{% static 'js/jquery-mask/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/widgets/social-media.js' %}"></script>
{% endblock %}
