{% extends 'tailwind.html'%}
{% load static page_extras %}

{% block page_head %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
{% endblock %}

{% block favicon %}
<link rel="shortcut icon" href="{% static 'images/eleicao/favicon.png' %}" type="image/x-icon">
{% endblock %}

{% block title %}A Eleição do Ano: {{object.short_name}}{% endblock %}

{% block body_class %}aeleicaodoano{% endblock %}

{% block content %}
{% include 'eleicao/plugins/navbar.html' %}
<main class="bg-white candidate-detail">
  <!-- Modal -->
  <!-- Open the modal using ID.showModal() method -->
  <dialog id="my_modal_2" class="w-full px-0 modal{% if modal_is_open %} modal-open{% endif %}">
    <form method="dialog" class="m-auto w-full modal-box md:w-auto">
      <div class="flex flex-col mt-6 text-center text-blue-800">
        <button class="absolute top-2 right-2 btn btn-sm btn-circle btn-ghost">✕</button>
        <h3 class="mb-4 :text-3xl md:text-5xl">Perfil cadastrado 🎉</h3>
        <p class="mb-2 text-xl font-bold">{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.path }}</p>
        <p class="mb-2 text-lg">Agora é só divulgar nas redes</p>
      </div>
      {% include 'eleicao/includes/candidate_share.html' with object=object %}
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>

  <!-- Detail 1: Perfil do candidato -->
  {% include "eleicao/includes/candidate_object_detail.html" with object=object %}

  {% if object.video %}
  <section class="py-16 bg-[#EDB052] candidate-detail-video text-blue-800 px-12 md:px-0">
    <h1 class="flex justify-center mb-4 text-3xl text-center uppercase md:text-4xl">O que {{ object.short_name }} tem pra dizer</h1>
    <div class="flex justify-center items-center">
      <video controls width="640" height="360" alt="Vídeo do candidato">
        <source src="{{ object.video.url }}" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
      </video>
    </div>
  </section>
  {% endif %}

  {% with "O que esperar de "|add:object.short_name as title %}
  {% include "eleicao/plugins/carousel.html" with title=title description="Ao se cadastrar na Eleição do Ano, Mariana assumiu o compromisso com as diretrizes do ECA abaixo:" %}
  {% endwith %}

  <section class="px-5 py-16 candidate-detail-share">
    <h1 class="m-auto mb-4 max-w-xs text-3xl text-center text-blue-800 md:text-4xl">Compartilhe nas redes para apoiar {{ object.short_name }}</h1>
    {% include 'eleicao/includes/candidate_share.html' with object=object %}
    
  </section>
  <p class="text-center text-blue-800">Viu algo estranho? <a href="mailto:aeleicaodoano@nossas.org" class="font-bold">Clique aqui para denunciar esse perfil.</a></p>
</main>
{% include 'eleicao/plugins/footer.html' %}
{% render_bonde_footer %}
{% endblock %}

{% block footer_js %}
<script>
  (function ($) {
    "use strict";

    $(function () {
      const $dialog = $("dialog.modal");
      
      $("dialog.modal .modal-box button").click(() => {
        $dialog.removeClass('modal-open');
      });

      $("dialog.modal .modal-backdrop").click(() => {
        $dialog.removeClass('modal-open');
      });
    });
  }(window.jQuery));
</script>
{% endblock %}
