{% extends "eleicao/base.html" %}

{% block content %}
<main class="candidate-list">
    <section class="list-header">
        <div class="px-5 py-20 text-center">
            <h1 class="mb-3 text-7xl">Conheça as candidaturas</h1>
            <p class="m-auto max-w-xl text-lg">As candidatas e candidatos abaixo assumiram o compromisso com o Estatuto da Criança e do Adolescente ao se cadastrar na plataforma.<p>
        </div>
    </section>

    <section class="list-content">
        <div class="flex flex-col px-5">
            {{ form.as_html }}
            <nav class="py-6 candidates">
                <ul class="grid grid-cols-4 gap-6">
                    {% for candidate in object_list %}
                        {% include 'eleicao/plugins/card.html' %}
                    {% endfor %}
                </ul>
            </nav>

            {% if is_paginated %}
            <ul class="py-6 font-bold text-xl text-center flex gap-2 mx-auto">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
            <p class="py-6 text-center">Não encontrou as candidaturas do seu bairro? <a href="#" class="font-bold">Seja voluntário(a)</a> e fortaleça a campanha no seu território.</p>
        </div>
    </section>
</main>
{% endblock %}