{% extends 'eleicao/base.html'%}
{% load static %}

{% block content %}

<main class="candidate-detail">
  <section class="eleição-chegando py-16">
    <div class="flex-col text-center">
      {% include "./icons/eleicao-chegando.html" %}
        <p class="text-md max-w-[550px] mx-auto my-5">Qualquer cidadão brasileiro maior de 16 anos que tenha título de eleitor e resida no Brasil pode votar e contribuir com o futuro da sua comunidade.</p>
        <a class="btn btn-outline min-w-[200px] rounded-lg text-lg border-none !text-white  bg-[#93AC70]" href="">
          Posso, quero e vou votar
        </a>
    </div>
  </section>

  <section class="flex px-5 py-16 candidate-detail-share mb-10 bg-[#014C2D] justify-center gap-28">
    <img src="{% static 'images/eleicao/woman.png' %}" alt="Ilustração de mulher vestida de roxo e segurando título eleitoral" class="h-auto max-w-xs rounded-sm mx-auto md:mx-0">
    <div>
      <h2 class="uppercase text-5xl text-white mb-2">Quem pode votar?</h2>
      <p class="text-white mb-5">
        ✅ Cidadã(o) brasileira(o) </br>
        ✅ Maior de 16 anos </br>
        ✅ Tem título de eleitor(a) </br>
        ✅ Reside no Brasil </br>
        Check, check, check?</p>
        <a class="btn btn-outline min-w-[200px] rounded-lg text-lg border-none !text-white  bg-[#93AC70]" href="">
          DESCUBRA AS CANDIDATURAS PRA VOCÊ
        </a>
    </div>
  </section>

  <section>
    <h2 class="uppercase text-5xl mb-2 text-center">Descubra CANDIDATas(OS) para você</h2>
    <div class="flex justify-center items-center">
      <form method="POST">
        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        {{ form.as_p }}

        <input type="submit" value="Submit" />
      </form>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Nome completo*</span>
        </label>
        <label class="mb-3">
          <input type="text" placeholder="Seu nome completo " class="input input-bordered rounded-md w-96"  />
        </label>

        <label class="label">
          <span class="label-text">Email*</span>
        </label>
        <label class="mb-3">
          <input type="text" placeholder="Seu email" class="input input-bordered rounded-md w-96"  />
        </label>

        <label class="label">
          <span class="label-text">Whatsapp</span>
        </label>
        <label class="mb-3">
          <input type="text" placeholder="Seu whatsapp" class="input input-bordered rounded-md w-96"  />
        </label>

        <label class="label">
          <span class="label-text">Onde você vota*</span>
        </label>
        <label class="">
          <input type="text" placeholder="Digite o bairro onde você votou na última eleição" class="input input-bordered rounded-md w-96"  />
        </label>

        <div class="flex items-center mb-2 mt-3">
          <input id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4 bg-gray-100 border-gray-300 focus:ring-2">
          <label for="default-radio-1" class="ml-2 text-sm  text-gray-900 dark:text-gray-300">Quero receber atualizações da campanha e do NOSSAS.</label>
      </div>
      <span class="text-black mb-4">Ao inserir seus dados, você está de acordo com a </br><b>política de privacidade</b>. </span>
      <a class="btn btn-outline mb-24 max-w-[380px] rounded-lg text-lg border-none !text-white  bg-[#93AC70]" href="">
        <input type="submit" value="Quero descobrir" />
      </a>
      </div>
    </div>
  </section>

  <section class="py-28 bg-[#EDB052] text-blue-800">
    <div class="mx-24 my-6">
      <h1 class="flex mb-4 text-4xl">Como funciona a eleição?</h1>
    <p class="max-w-lg">
      O dia da escolha do candidato de sua região em cada município ocorrerá em <b>01/10/23, entre 8h e 17h</b>.</br>
Como o processo de escolha é gerido por cada município, após a data de escolha em 1º de outubro, cada cidade possui um cronograma para a divulgação do resultado. Confira as etapas:
    </p>
  </div>
  </section>

  <section class="py-28 bg-[#1842AC]">
    <div class="mx-24 my-6">
      <h1 class="flex mb-4 text-4xl !text-white">Local de votação</h1>
    <p class="max-w-lg !text-white">
      O local da escolha do (a) candidato (a) ao Conselho Tutelar não necessariamente é onde você vota em eleições. Em breve, serão disponibilizados os locais de escolha aqui.
    </p>
  </div>
  </section>
</main>
{% endblock %}
