<div class="social-media-fields flex flex-col gap-2">
  {% for value_item in widget.value %}
  <div class="social-media-field-item flex gap-5">
    <div class="max-w-xs">
      <select name="{{widget.name}}.{{forloop.counter0}}.kind">
        <option value="">Selecione</option>
        <option value="twitter" {% if value_item.kind == 'twitter' %} selected{% endif %}>Twitter</option>
        <option value="facebook" {% if value_item.kind == 'facebook' %} selected{% endif %}>Facebook</option>
        <option value="instagram" {% if value_item.kind == 'instagram' %} selected{% endif %}>Instagram</option>  
        <option value="site" {% if value_item.kind == 'site' %} selected{% endif %}>Site</option>
      </select>
    </div>
    <div class="gap-1 font-bold max-w-xs">
      <input type="text" name="{{widget.name}}{{forloop.counter0}}.url" placeholder="Link do seu perfil"{% if value_item.url %} value="{{ value_item.url }}"{% endif %} />
    </div>
  </div>
  {% empty %}
  <div class="social-media-field-item flex gap-5">
    <div class="max-w-xs">
      <select name="{{widget.name}}.0.kind">
        <option value="">Selecione</option>
        <option value="twitter">Twitter</option>
        <option value="facebook">Facebook</option>
        <option value="instagram">Instagram</option>
        <option value="site">Site</option>
      </select>
    </div>
    <div class="gap-1 font-bold max-w-xs">
      <input type="text" name="{{widget.name}}.0.url" placeholder="Link do seu perfil" />
    </div>
  </div>
  {% endfor %}
  <div class="flex items-start">
    <button type="button" class="justify-start text-[#1842AC] font-bold py-2">+ Add outra</button>
  </div>
</div>