{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
  <h3>Name Servers</h3>
  <ul>
    {% for ns in name_servers %}
    <li>{{ ns }}</li>
    {% endfor %}
  </ul>
  <h3>Record Set</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Value</th>
        <th scope="col">VPS</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{{ hosted_zone_id }}/{{ record.name }}/{{ record.record_type }}">{{ record.name }}</a></td>
        <td>{{ record.record_type }}</td>
        <td style="overflow-wrap: anywhere;">{{ record.resource|join:"<br/>" }}</td>
        <td>{{ record.vps }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
