@import "tailwindcss/base";
@import "./static/tailwind/tailwindcss/fonts.css";

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html {
        --colors-primary-bg: #131313;
        --colors-primary-content: #ffffff;
        --colors-primary-hover: #565656;
        --colors-primary-focus: #AAAAAA;
        --colors-secondary-bg: #5D5FEF;
        --colors-secondary-content: #ffffff;
        --colors-secondary-hover: #7879F1;
        --colors-secondary-focus: #A5A6F6;
    }

    html[data-theme="eleicao"] {
        --colors-primary-bg: #1842AC;
        --colors-primary-content: #ffffff;
        --colors-primary-hover: #113794;
        --colors-primary-focus: #4271e7;
        --colors-secondary-bg: #93AC70;
        --colors-secondary-content: #ffffff;
        --colors-secondary-hover: #758e53;
        --colors-secondary-focus: #88b14f;
    }
}