.filer-dropzone * {
    &.related-lookup:before, .replace-file .fa-search:before {
        display: none;
    }

    &.related-lookup {
        width: auto;
        height: 35px;
    }
}

.file-edit-area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        display: flex;
        align-items: flex-start;
    }
}

.file-controls {
    display: flex;
    flex-direction: row;
    --dca-primary: blue;
}

.file-desc-object {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.text-input-file {
    max-width: 100%;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }