// Import Bootstrap Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

// Import Google Fonts
@import url("https://fonts.googleapis.com/css?family=Abel|Anton|Archivo+Narrow:400,400i,700,700i|Arvo:400,400i,700,700i|Asap:400,400i,700,700i|Baloo+Bhai|Bitter:400,400i,700|Bree+Serif|Capriola|Fugaz+One|Cabin:400,400i,700,700i|Catamaran:400,700|Crimson+Text:400,400i,700,700i|Cuprum:400,400i,700,700i|David+Libre:400,700|Dosis:400,700|Droid+Sans:400,700|Exo+2:400,400i,700,700i|Exo:400,400i,700,700i|Fira+Sans:400,400i,700,700i|Fjalla+One|Francois+One|Gidugu|Hind:400,700|Inconsolata:400,700|Indie+Flower|Josefin+Sans:400,400i,700,700i|Karla:400,400i,700,700i|Lalezar|Lato:400,400i,700,700i|Libre+Baskerville:400,400i,700|Lobster|Lora:400,400i,700,700i|Merriweather+Sans:400,400i,700,700i|Montserrat:400,700|Muli:400,400i|Noto+Serif:400,400i,700,700i|Nunito+Sans:400,700,800|Open+Sans+Condensed:300,300i,700|Open+Sans:400,400i,700,700i|Oswald:400,700|Oxygen:400,700|PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i|Pacifico|Playfair+Display:400,400i,700,700i|Poiret+One|Poppins:400,700|Quicksand:400,700|Raleway:400,400i,700,700i|Roboto+Condensed:400,400i,700,700i|Roboto+Mono:400,400i,700,700i|Roboto+Slab:400,700|Roboto:400,400i,700,700i|Ruslan+Display|Signika:400,700|Slabo+27px|Source+Sans+Pro:200,300,400,700|Titillium+Web:400,400i,700,700i|Ubuntu+Condensed|Ubuntu:400,400i,700,700i|Varela+Round|Yanone+Kaffeesatz:400,700|Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Import Local Fonts
@import "../fonts/BebasNeuePro/typography.scss";
@import "../fonts/LinearGrotesk/typography.scss";
@import "../fonts/AvenirNextLTPro/typography.scss";

// Custom Boostrap Theme
$enable-grid-classes: false;
$enable-cssgrid: true;

// Spacing
$spacer: 1.5rem;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 4.5,
  8: $spacer * 5,
) !default;

// Button
$btn-padding-x: $spacer * 1.5;
$btn-padding-x-sm: $spacer * 1;
$btn-padding-x-lg: $spacer * 1.5;
$btn-font-weight: 600;

// Navbar
$navbar-padding-y: $spacer * .3;
$navbar-dark-color: rgba($white, 1);

@import "../../bootstrap/scss/bootstrap.scss";

@each $color, $value in $theme-colors {
  .btn-inverted-#{$color} {
    @include button-variant(color-contrast($value), color-contrast($value), $value);
  }
}

// Custom Bootstrap Classes
.d-flex {
  // reuse in flex gap to setup grid
  gap: var(--bs-gap);
}

.d-flex-fill {
  > * {
    flex: 1 1 auto;
  }
}

img {
  display: flex;
}

#cms-top + nav.fixed-top {
  margin-top: 46px;
}

.btn-icon {
  padding-left: $input-btn-padding-x;
  padding-right: $input-btn-padding-x;

  &.btn-sm {
    padding-left: $input-btn-padding-x-sm;
    padding-right: $input-btn-padding-x-sm;
  }

  &.btn-lg {
    padding-left: $input-btn-padding-x-lg;
    padding-right: $input-btn-padding-x-lg;
  }
}

.is-home {
  @include media-breakpoint-up(sm) {
    --bs-bg-opacity: .75;
  }
}

@import "./accordion.scss";
@import "./forms.scss";
@import "./tooltip.scss";
