.tooltip {
    position: relative;
    display: inline-block;
    margin-bottom: 2px;

    .tooltip-content {
        gap: 8px;
        display: none;
        min-width: 320px;
        padding: 12px;
        border-radius: 6px;
        background-color: white;
        box-shadow: 0px 1.25px 4px 0px rgba(16, 24, 40, 0.25);

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    .tooltip-content-right {
        top: -5px;
        right: 105%;
    }

    &:hover {
        .tooltip-content {
            display: flex;
        }
    }
}