{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}
{% load reactpy %}

{% block extrastyle %}
{{ block.super }}
<!-- TODO: Change css to only admin styles -->
<link rel="stylesheet" href="{% static 'dist/css/output.css' %}">
{% endblock %}

{% block content %}
<!-- <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
id="{{ opts.model_name }}_form" role="form" novalidate> -->
<!-- {% csrf_token %} -->
{% component "contrib.react.components.SettingsPage" %}
{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
<!-- </form> -->
{% endblock %}