<div class="inline-grid grid-cols-1 md:grid-cols-3 gap-8">
  {% for group_name, group_choices, group_index in widget.optgroups %}
  {% for option in group_choices %}
  <div class="flex flex-col gap-2">
    <span class="text-xs/[11px] text-[#565656]">{{ option.label }}</span>
    <label class="flex" htmlFor="{{widget.name}}_{{group_index}}">
      <input id="{{widget.name}}_{{group_index}}" class="hidden" type="radio" name="{{widget.name}}"
        value="{{ option.value|stringformat:'s' }}" />
      
      <div class="text-[#aaa]">
      {% with "frontend/landpage/forms/widgets/select_option/"|add:option.value|stringformat:'s'|add:".svg" as template_option_name %}
      {% include template_option_name %}
      {% endwith %}
      </div>
    </label>
  </div>
  {% endfor %}
  {% endfor %}
</div>
