<a
  class="btn"
  href="https://twitter.com/intent/tweet?text={{tweet.message}}"
  target="_blank"
>
  Tweet
</a>



<!-- <a
  href="https://twitter.com/intent/tweet?text={{tweet.message}}&hashtags={{tweet.hashtags}}&url={{tweet.url}}"
  class="twitter-hashtag-button"
  data-show-count="false"
>
  Tweet
</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

<!-- <a
  href="https://twitter.com/intent/tweet"
  class="twitter-hashtag-button btn"
  data-text="{{tweet.message}}"
  data-show-count="false">
  Twitter
</a> -->
<!-- <div id="container"></div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
console.log("twttr", twttr)
twttr.widgets.createShareButton(
  "/",
  document.getElementById("container"),
  {
    "text": "{{tweet.message}}"
  }
)
</script> -->