@font-face {
    font-family: "Bebas Neue Pro";
    src: url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-ThinItalic.woff2") format("woff2"),
        url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bebas Neue Pro";
    src: url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-Thin.woff2") format("woff2"),
        url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bebas Neue Pro";
    src: url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-Regular.woff2") format("woff2"),
        url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bebas Neue Pro";
    src: url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-Italic.woff2") format("woff2"),
        url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bebas Neue Pro";
    src: url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-LightItalic.woff2") format("woff2"),
        url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bebas Neue Pro";
    src: url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-Light.woff2") format("woff2"),
        url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bebas Neue Pro Book";
    src: url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-BookItalic.woff2") format("woff2"),
        url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-BookItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bebas Neue Pro";
    src: url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-BoldItalic.woff2") format("woff2"),
        url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bebas Neue Pro";
    src: url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-Bold.woff2") format("woff2"),
        url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bebas Neue Pro Book";
    src: url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-Book.woff2") format("woff2"),
        url("/static/ds/fonts/BebasNeuePro/BebasNeuePro-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}